<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{template "title" .}}</title>
    <link href="{{asset "main.css"}}" media="all" rel="stylesheet" type="text/css" />
    <link id="favicon" rel="icon" type="image/png" href="{{asset "images/favicon.png"}}" />
    <meta name="theme-color" content="#000000" />
    <script src="{{asset "jquery-2.1.1.min.js"}}"></script>
    <script src="{{asset "concourse.js"}}"></script>
    <script src="{{asset "elm.min.js"}}"></script>
  </head>
  <body>
    <div class="error-message hidden">
      <div class="message">
        <img src="{{asset "images/buckleup.svg"}}" class="seatbelt" />
        <p>experiencing turbulence</p>
        <p class="explanation"></p>
      </div>
    </div>
    <div class="content-frame">
      <div id="top-bar-app"></div>
      <div class="bottom">
        <div id="pipelines-nav-app" class="sidebar js-sidebar test"></div>

        <script type="text/javascript">
        Elm.PipelinesNavPage.embed(document.getElementById("pipelines-nav-app"));

        var selectedGroups = [];
        var groupStates = {{.GroupStates}};
        for (var g in groupStates) {
          var group = groupStates[g];
          if (group.Enabled) {
            selectedGroups.push(group.Name);
          }
        }

        var topBar = Elm.TopBarPage.embed(document.getElementById("top-bar-app"), {
          pipeline: {
            teamName: {{.TeamName}},
            pipelineName: {{.PipelineName}}
          },
          selectedGroups: selectedGroups
        });

        topBar.ports.toggleSidebar.subscribe(function() {
          $('.js-sidebar').toggleClass('visible');
        });

        topBar.ports.navigateTo.subscribe(function(url) {
          window.location.href = url;
        });

        topBar.ports.setGroups.subscribe(function(groups) {
          for (var group in concourse.groups) {
            concourse.groups[group] = groups.indexOf(group) !== -1;
          }

          if (concourse.redraw !== undefined) {
            concourse.redraw();
          }
        });
        </script>

        <div id="content">
        {{template "body" .}}
        </div>
      </div>
    </div>
  </body>
</html>
