<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{template "title" .}}</title>
    <link href="{{asset "main.css"}}" media="all" rel="stylesheet" type="text/css" />

    <link href="{{asset "main.3024.css"}}" media="all" rel="alternate stylesheet" type="text/css" title="3024" />
    <link href="{{asset "main.apathy.css"}}" media="all" rel="alternate stylesheet" type="text/css" title="apathy" />
    <link href="{{asset "main.ashes.css"}}" media="all" rel="alternate stylesheet" type="text/css" title="ashes" />
    <link href="{{asset "main.atelier-cave.css"}}" media="all" rel="alternate stylesheet" type="text/css" title="atelier-cave" />
    <link href="{{asset "main.atelier-dune.css"}}" media="all" rel="alternate stylesheet" type="text/css" title="atelier-dune" />
    <link href="{{asset "main.atelier-estuary.css"}}" media="all" rel="alternate stylesheet" type="text/css" title="atelier-estuary" />
    <link href="{{asset "main.atelier-forest.css"}}" media="all" rel="alternate stylesheet" type="text/css" title="atelier-forest" />
    <link href="{{asset "main.atelier-heath.css"}}" media="all" rel="alternate stylesheet" type="text/css" title="atelier-heath" />
    <link href="{{asset "main.atelier-lakeside.css"}}" media="all" rel="alternate stylesheet" type="text/css" title="atelier-lakeside" />
    <link href="{{asset "main.atelier-plateau.css"}}" media="all" rel="alternate stylesheet" type="text/css" title="atelier-plateau" />
    <link href="{{asset "main.atelier-savanna.css"}}" media="all" rel="alternate stylesheet" type="text/css" title="atelier-savanna" />
    <link href="{{asset "main.atelier-seaside.css"}}" media="all" rel="alternate stylesheet" type="text/css" title="atelier-seaside" />
    <link href="{{asset "main.atelier-sulphurpool.css"}}" media="all" rel="alternate stylesheet" type="text/css" title="atelier-sulphurpool" />
    <link href="{{asset "main.bespin.css"}}" media="all" rel="alternate stylesheet" type="text/css" title="bespin" />
    <link href="{{asset "main.brewer.css"}}" media="all" rel="alternate stylesheet" type="text/css" title="brewer" />
    <link href="{{asset "main.bright.css"}}" media="all" rel="alternate stylesheet" type="text/css" title="bright" />
    <link href="{{asset "main.chalk.css"}}" media="all" rel="alternate stylesheet" type="text/css" title="chalk" />
    <link href="{{asset "main.codeschool.css"}}" media="all" rel="alternate stylesheet" type="text/css" title="codeschool" />
    <link href="{{asset "main.colors.css"}}" media="all" rel="alternate stylesheet" type="text/css" title="colors" />
    <link href="{{asset "main.concourse.css"}}" media="all" rel="alternate stylesheet" type="text/css" title="concourse" />
    <link href="{{asset "main.darktooth.css"}}" media="all" rel="alternate stylesheet" type="text/css" title="darktooth" />
    <link href="{{asset "main.default.css"}}" media="all" rel="alternate stylesheet" type="text/css" title="default" />
    <link href="{{asset "main.eighties.css"}}" media="all" rel="alternate stylesheet" type="text/css" title="eighties" />
    <link href="{{asset "main.embers.css"}}" media="all" rel="alternate stylesheet" type="text/css" title="embers" />
    <link href="{{asset "main.flat.css"}}" media="all" rel="alternate stylesheet" type="text/css" title="flat" />
    <link href="{{asset "main.google.css"}}" media="all" rel="alternate stylesheet" type="text/css" title="google" />
    <link href="{{asset "main.grayscale.css"}}" media="all" rel="alternate stylesheet" type="text/css" title="grayscale" />
    <link href="{{asset "main.greenscreen.css"}}" media="all" rel="alternate stylesheet" type="text/css" title="greenscreen" />
    <link href="{{asset "main.harmonic.css"}}" media="all" rel="alternate stylesheet" type="text/css" title="harmonic" />
    <link href="{{asset "main.hopscotch.css"}}" media="all" rel="alternate stylesheet" type="text/css" title="hopscotch" />
    <link href="{{asset "main.irblack.css"}}" media="all" rel="alternate stylesheet" type="text/css" title="irblack" />
    <link href="{{asset "main.isotope.css"}}" media="all" rel="alternate stylesheet" type="text/css" title="isotope" />
    <link href="{{asset "main.macintosh.css"}}" media="all" rel="alternate stylesheet" type="text/css" title="macintosh" />
    <link href="{{asset "main.marrakesh.css"}}" media="all" rel="alternate stylesheet" type="text/css" title="marrakesh" />
    <link href="{{asset "main.mocha.css"}}" media="all" rel="alternate stylesheet" type="text/css" title="mocha" />
    <link href="{{asset "main.monokai.css"}}" media="all" rel="alternate stylesheet" type="text/css" title="monokai" />
    <link href="{{asset "main.ocean.css"}}" media="all" rel="alternate stylesheet" type="text/css" title="ocean" />
    <link href="{{asset "main.oceanicnext.css"}}" media="all" rel="alternate stylesheet" type="text/css" title="oceanicnext" />
    <link href="{{asset "main.paraiso.css"}}" media="all" rel="alternate stylesheet" type="text/css" title="paraiso" />
    <link href="{{asset "main.phd.css"}}" media="all" rel="alternate stylesheet" type="text/css" title="phd" />
    <link href="{{asset "main.pop.css"}}" media="all" rel="alternate stylesheet" type="text/css" title="pop" />
    <link href="{{asset "main.railscasts.css"}}" media="all" rel="alternate stylesheet" type="text/css" title="railscasts" />
    <link href="{{asset "main.seti.css"}}" media="all" rel="alternate stylesheet" type="text/css" title="seti" />
    <link href="{{asset "main.shapeshifter.css"}}" media="all" rel="alternate stylesheet" type="text/css" title="shapeshifter" />
    <link href="{{asset "main.solarized.css"}}" media="all" rel="alternate stylesheet" type="text/css" title="solarized" />
    <link href="{{asset "main.summerfruit.css"}}" media="all" rel="alternate stylesheet" type="text/css" title="summerfruit" />
    <link href="{{asset "main.tomorrow.css"}}" media="all" rel="alternate stylesheet" type="text/css" title="tomorrow" />
    <link href="{{asset "main.tube.css"}}" media="all" rel="alternate stylesheet" type="text/css" title="tube" />
    <link href="{{asset "main.twilight.css"}}" media="all" rel="alternate stylesheet" type="text/css" title="twilight" />
    <link href="{{asset "main.yesterday-bright.css"}}" media="all" rel="alternate stylesheet" type="text/css" title="yesterday-bright" />
    <link href="{{asset "main.yesterday-night.css"}}" media="all" rel="alternate stylesheet" type="text/css" title="yesterday-night" />
    <link href="{{asset "main.yesterday.css"}}" media="all" rel="alternate stylesheet" type="text/css" title="yesterday" />

    <link rel="apple-touch-icon" sizes="57x57" href="{{asset "favicons/apple-touch-icon-57x57.png"}}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{asset "favicons/apple-touch-icon-60x60.png"}}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{asset "favicons/apple-touch-icon-72x72.png"}}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{asset "favicons/apple-touch-icon-76x76.png"}}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{asset "favicons/apple-touch-icon-114x114.png"}}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{asset "favicons/apple-touch-icon-120x120.png"}}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{asset "favicons/apple-touch-icon-144x144.png"}}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{asset "favicons/apple-touch-icon-152x152.png"}}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{asset "favicons/apple-touch-icon-180x180.png"}}">
    <link rel="icon" type="image/png" href="{{asset "favicons/favicon-32x32.png"}}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{asset "favicons/android-chrome-192x192.png"}}" sizes="192x192">
    <link rel="icon" type="image/png" href="{{asset "favicons/favicon-96x96.png"}}" sizes="96x96">
    <link rel="icon" type="image/png" href="{{asset "favicons/favicon-16x16.png"}}" sizes="16x16">
    <link rel="manifest" href="{{asset "favicons/manifest.json"}}">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="msapplication-TileImage" content="{{asset "favicons/mstile-144x144.png"}}">
    <meta name="theme-color" content="#000000">
    <script src="{{asset "styleswitcher.js"}}" type="text/javascript"></script>
  </head>
  <body class="pipelinesNav-enabled">
    <div class="js-pipelinesNav">
      <div class="nav-container">
        <ul class="pipelines js-pipelinesNav-list"></ul>
      </div>

      <div class="page-to-slide">
        <nav>
          <ul class="js-groups groups">
            <li class="main"><span class="js-pipelinesNav-toggle btn-hamburger"><i class="fa fa-bars"></i></span></li><li class="main"><a href="/"><i class="fa fa-home"></i></a></li>
          </ul>
          <ul class="nav-right">
            <li class="nav-item"><a href="/builds"><i class="fa fa-tasks"></i></a></li>
          </ul>
        </nav>

        <div id="content">
        {{template "body" .}}
        </div>
      </div>
    </div>

    <select id="styleswitcher" onchange="switchStyle()" style="display: none; position: fixed; bottom: 10px; left: 50%; width: 200px; margin-left: -100px; z-index: 1000">
      <option value="3024">3024</option>
      <option value="apathy">apathy</option>
      <option value="ashes">ashes</option>
      <option value="atelier-cave">atelier-cave</option>
      <option value="atelier-dune">atelier-dune</option>
      <option value="atelier-estuary">atelier-estuary</option>
      <option value="atelier-forest">atelier-forest</option>
      <option value="atelier-heath">atelier-heath</option>
      <option value="atelier-lakeside">atelier-lakeside</option>
      <option value="atelier-plateau">atelier-plateau</option>
      <option value="atelier-savanna">atelier-savanna</option>
      <option value="atelier-seaside">atelier-seaside</option>
      <option value="atelier-sulphurpool">atelier-sulphurpool</option>
      <option value="bespin">bespin</option>
      <option value="brewer">brewer</option>
      <option value="bright">bright</option>
      <option value="chalk">chalk</option>
      <option value="codeschool">codeschool</option>
      <option value="colors">colors</option>
      <option value="concourse">concourse</option>
      <option value="darktooth">darktooth</option>
      <option value="default">default</option>
      <option value="eighties">eighties</option>
      <option value="embers">embers</option>
      <option value="flat">flat</option>
      <option value="google">google</option>
      <option value="grayscale">grayscale</option>
      <option value="greenscreen">greenscreen</option>
      <option value="harmonic">harmonic</option>
      <option value="hopscotch">hopscotch</option>
      <option value="irblack">irblack</option>
      <option value="isotope">isotope</option>
      <option value="macintosh">macintosh</option>
      <option value="marrakesh">marrakesh</option>
      <option value="mocha">mocha</option>
      <option value="monokai">monokai</option>
      <option value="ocean">ocean</option>
      <option value="oceanicnext">oceanicnext</option>
      <option value="paraiso">paraiso</option>
      <option value="phd">phd</option>
      <option value="pop">pop</option>
      <option value="railscasts">railscasts</option>
      <option value="seti">seti</option>
      <option value="shapeshifter">shapeshifter</option>
      <option value="solarized">solarized</option>
      <option value="summerfruit">summerfruit</option>
      <option value="tomorrow">tomorrow</option>
      <option value="tube">tube</option>
      <option value="twilight">twilight</option>
      <option value="yesterday-bright">yesterday-bright</option>
      <option value="yesterday-night">yesterday-night</option>
      <option value="yesterday">yesterday</option>
    </select>
  </body>
</html>
