@import (reference) "_vars.less";

#build-requires-auth input { background: @base01; }
.steps .nest.even { background: @base01; }


/* dark */
#builds { background: @base00; }
.builds-list { background: @base00; }
.build-step .header { background: @base00; }
.groups { background: @base00; }

/* highlight background */
.steps .nest.odd { background: @base02; }
.groups li.main a {
  background: @base00;
  .paused&{
    background: @base0D;
  }
}

/* even more highlight background */
.build-step.first-occurrence .header { background: @base03; }
.groups li.active a { background: @base03; }

/* order here matters >:( */
.build-action {background-color: transparent;}
.build-action i { color: @base07; }
.build-action i:hover { background: @base02; }
.build-action i:active { background: @base04; }
.build-action i:focus { background: @base04; }

.build-action-abort i { color: @base08; }
.build-action-abort i:hover { background: @base08; color: @base07; }
.build-action-abort i:active { color: @base07; background: @base0F; }
.build-action-abort i:focus { background: @base0F; }

.build-step i.failed    { color: @base07; background: @base08; }
.build-step i.succeeded { color: @base07; background: @base0B; }
.build-step i.errored   { color: @base07; background: @base09; }

/* dim */
#page-header.pending .build-header { background: @base04; }
.pending { background: @base04; }
.legend dt.pending { background: @base04; }
#build-requires-auth input:hover { background: @base04; }


/* highlight foreground */
.build-step .header .version { color: @base06; }
#build-requires-auth input { color: @base06; }
/* emphasis */
.build-header .build-times { color: @base07; }
.resource-header h1 { color: @base07; }

.builds-list li a { color: @base07; }
#builds li a { color: @base07; }
.groups li a { color: @base07; }
#cli-downloads a { color: @base07; }


/* good */
#page-header.succeeded { background: @base0B; }
.succeeded { background: @base0B; }
.legend dt.succeeded { background: @base0B; }


/* bad */
#page-header.failed { background: @base08; }
.failed { background: @base08; }
.legend dt.failed { background: @base08; }
span.error { color: @base08; }
.resource-check-status pre { color: @base08; }

/* like, really bad */
#page-header.errored { background: @base09; }
.errored { background: @base09; }
.legend dt.errored { background: @base09; }

/* not so bad */
#page-header.aborted { background: @base0F; }
.aborted { background: @base0F; }
.legend dt.aborted { background: @base0F; }

/* active */
#page-header.started { background: @base0A; }
.started { background: @base0A; }
.legend dt.started rect { stroke: @base0A; }

.job.node.started .animation,
.job.node.pending-start .animation,
.legend dt.started {
  border-radius: 1px;
}
.legend dt.started {
  .ripple-animation('small-ripple', 2px, @base0A);
}

.job.node {
  &.pending-start .animation-xlarge{.ripple-animation('xlarge-pending-ripples', 20px, @base04);}
  &.started .animation-xlarge{.ripple-animation('xlarge-started-ripples', 20px, @base0A);}

  &.pending-start .animation-large{.ripple-animation('large-pending-ripples', 15px, @base04);}
  &.started .animation-large{.ripple-animation('large-started-ripples', 15px, @base0A);}

  &.pending-start .animation-medium{.ripple-animation('medium-pending-ripples', 7px, @base04);}
  &.started .animation-medium{.ripple-animation('medium-started-ripples', 7px, @base0A);}

  &.pending-start .animation-small{.ripple-animation('small-pending-ripples', 3px, @base04);}
  &.started .animation-small{.ripple-animation('small-started-ripples', 3px, @base0A);}
}




.ripple-animation(@name, @ripple-factor, @ripple-color) {
  -webkit-animation: @name 1s linear infinite;
  animation: @name 1s linear infinite;

  @-webkit-keyframes @name {
    0% {
      box-shadow: 0 0 0 -@ripple-factor @base01, 0 0 0 0px @ripple-color, 0 0 0 @ripple-factor @base01, 0 0 0 @ripple-factor * 2 @ripple-color;
    }

    50% {
      box-shadow: 0 0 0 0px @base01, 0 0 0 @ripple-factor @ripple-color, 0 0 0 @ripple-factor * 2  @base01, 0 0 0 @ripple-factor * 3 fade(@ripple-color, 50%);
    }

    100% {
      box-shadow: 0 0 0 @ripple-factor @base01, 0 0 0 @ripple-factor * 2  @ripple-color, 0 0 0 @ripple-factor * 3 @base01, 0 0 0 @ripple-factor * 4 transparent;
    }
  }


  @keyframes @name {
    0% {
      box-shadow: 0 0 0 -@ripple-factor @base01, 0 0 0 0px @ripple-color, 0 0 0 @ripple-factor @base01, 0 0 0 @ripple-factor * 2 @ripple-color;
    }

    50% {
      box-shadow: 0 0 0 0px @base01, 0 0 0 @ripple-factor @ripple-color, 0 0 0 @ripple-factor * 2  @base01, 0 0 0 @ripple-factor * 3 fade(@ripple-color, 50%);
    }

    100% {
      box-shadow: 0 0 0 @ripple-factor @base01, 0 0 0 @ripple-factor * 2  @ripple-color, 0 0 0 @ripple-factor * 3 @base01, 0 0 0 @ripple-factor * 4 transparent;
    }
  }
}


.build-number {
  font-size: 2em;
  color: @base07;
  padding: 5px;
  text-align: center;
  border: 5px solid @base00;
  text-decoration: none;
  font-weight: bold;
}



.build-one-off {
  background-color: @base03;
}


// svg .node.input
// svg .paused rect { fill: @base0D; }

.paused {
  background-color: @base0D;

  svg & rect {
    fill: @base0D;
  }
  svg .edge& {
    stroke: @base0D;
  }

}

.build-action.btn-pause i {
  font-size: 23px;
}
