.dashboard {
  padding: 0 25px 0 45px;

  .pipeline-grid {
    float: none;
    height: 200px;
    display: flex;
    flex-direction: row;
    padding: 0 50px 30px;
  }

  .pipeline-grid >* {
    align-items: initial;
  }

  .node {
    flex-grow: 1;
    margin: 4px;
    font-size: 0;
  }

  .build-duration {
    padding-bottom: 20px;
  }

  .build-duration .dict-key {
    color: @base03;
    width: 70px;
  }

  .build-duration .dict-value {
    span {
      color: @base08;
      font-size: 30px;
      text-transform: uppercase;
      top: 7px;
      white-space: nowrap;
      word-spacing: -5px;
      &:after {
        border-bottom: 1px solid #1F2E3C;
        display: block;
        content: ' ';
        z-index: 999;
        position: relative;
        top: -7px;
        width: 200px;
      }
    }
  }
}


.dashboard-team-group {
  padding-top: 55px;
  clear: both;

  &:first-of-type {
    padding-top: 45px;
  }
}

.dashboard-team-name {
  color: @base04;
  opacity: 0.2;
  border-top: 1px solid @base07;
  padding-top: 8px;
  font-size: 30px;
  margin-bottom: 55px;
  margin-right: 40px;
}

@keyframes pipeline-running {
  0% { background-position-x: -23px;    }
  100%   { background-position-x: 0px; }
}

.dashboard-pipeline {
  float: left;
  width: 400px;
  margin-bottom: 50px;
  margin-right: 50px;

  @media all and (max-width: 700px) {
    flex-basis: 100%;
  }


  .dashboard-pipeline-banner {
    flex-basis: 100%;
    max-height: 5px;
    background-color: @base07;
    background-size: 200% 100%;
    height: 5px;
  }

  .dashboard-pipeline-content {
    display: flex;
    flex-direction: column;
    height: 360px;
    background: #1F2E3C;

    &:hover {
      box-shadow: 0 2px 3px 0 rgba(0,0,0,0.50);
    }
  }

  .dashboard-pipeline-header {
    display: flex;
    height: 70px;
  }

  .running-animation(@color1, @color2) {
    background-image: repeating-linear-gradient(120deg, @color1 0, @color1 10px, @color2 0, @color2 20px);
    animation: pipeline-running 1s linear infinite;
  }

  &.dashboard-paused {
    .dashboard-pipeline-banner {
      background-color: @base0D;
    }

    .dashboard-pipeline-icon {
      background-image: url('images/ic_pause_blue.svg');
    }

    .build-duration .dict-value span {
      color: @base0D;
    }
  }

  &.dashboard-status-pending {
    .dashboard-pipeline-icon {
      background-image: url('images/ic_pause_grey.svg');
    }

    &.dashboard-running {
      .dashboard-pipeline-banner {
        .running-animation(@base07, @base01);
      }
    }
    .build-duration .dict-value span {
      color: @base07;
    }
  }

  &.dashboard-status-failed {
     background: #1F2E3C;

    .dashboard-pipeline-banner {
      background-color: @base08;
    }

    .dashboard-pipeline-icon {
      background-image: url('images/ic_failing_red.svg');
      background-size: 20px 18px;
    }

    &.dashboard-running {
      .dashboard-pipeline-banner {
        .running-animation(@base08, @base01);
      }
    }
    .build-duration .dict-value span {
      color: @base08;
    }
  }

  &.dashboard-status-aborted {
    .dashboard-pipeline-banner {
      background-color: @base0F;
    }

    .dashboard-pipeline-icon {
      background-image: url('images/ic_aborted_brown.svg');
    }

    &.dashboard-running {
      .dashboard-pipeline-banner {
        .running-animation(@base0F, @base01);
      }
    }
    .build-duration .dict-value span {
      color: @base0F;
    }
  }

  &.dashboard-status-succeeded {
    .dashboard-pipeline-banner {
      background-color: @base0B;
    }

    .dashboard-pipeline-icon {
      background-image: url('images/ic_running_green.svg');
      background-size: 20px 19px;
    }

    &.dashboard-running {
      .dashboard-pipeline-banner {
        .running-animation(@base0B, @base01);
      }
    }
    .build-duration .dict-value span {
      color: @base0B;
    }
  }

  &.dashboard-status-errored {
    .dashboard-pipeline-banner {
      background-color: @base09;
    }

    .dashboard-pipeline-icon {
      background-image: url('images/ic_error_orange.svg');
    }

    &.dashboard-running {
      .dashboard-pipeline-banner {
        .running-animation(@base09, @base01);
      }
    }
    .build-duration .dict-value span {
      color: @base09;
    }
  }
}

.dashboard-pipeline-icon {
  min-width: 20px;
  height: 20px;
  margin: auto 0 auto 25px;
  background-repeat: no-repeat;
}

.dashboard-pipeline-name {
  font-size: 18px;
  margin: auto 15px;
}

.dashboard-pipeline-double {
  width: 850px;
}
