@import (reference) "_vars.less";

.deprecation {
  padding: 0 18px 0 18px;
  line-height: 60px;
  font-size: 18px;
  background-color: @base08;
  text-align: center;
}

.deprecation a {
  text-decoration: underline;
}
