@import (reference) "_vars.less";

.list {
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.list-collapsable-content {
  display: none;
  box-sizing: border-box;
  background-color: @base02;
  .expanded & {
    display: block;
  }
  & div {
    box-sizing: border-box;
  }
}

.list-collapsable-item {
  background-color: @base00;
  display: block;
  cursor: pointer;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.list-collapsable-title {
  font-size: 12px;
  line-height: 25px;
  box-sizing: border-box;
}


.list-enableDisable .disabled {
  opacity: 0.5;
}


.dependent-get {
  opacity: 0.8;
}

.seq.seq-dependent-get{
  margin-bottom: 0px;
}


.hook-success{
  margin-left: -1px;
  border-left: 1px solid @base0B;
}

.hook-ensure{
  margin-left: -1px;
  border-left: 1px solid @base0E;
}

.hook-failure{
  margin-left: -1px;
  border-left: 1px solid @base08;
}

.seq.hook > .aggregate > .hook{
  border-left:none;
}


.aggregate  {
  padding: 1em;
  background: @base02;
  & > .seq {
    margin-bottom: .5em;
    border-top:1px solid @base03;
    padding-top:.5em;
    &:first-child {
      border-top: none;
      padding-top: 0;
    }
  }
}

.aggregate .aggregate  {
  background: @base03;
  & > .seq {
    border-color: @base02;
  }
}

.aggregate .aggregate .aggregate  {
  background: @base02;
  & > .seq {
    border-color: @base03;
  }
}

.aggregate .aggregate .aggregate .aggregate  {
  background: @base03;
  & > .seq {
    border-color: @base02;
  }
}

.aggregate .aggregate .aggregate .aggregate .aggregate {
  background: #f0f;
  & > .seq {
    border-color: #ff9b07;
    border-width: 10px;
  }
}


.children {
  margin-left: 1em;
}

.children > .hook {
  margin-bottom: 0px;
}


.pagination-handle{
	width: 25px;
	text-align: center;
	font-size: 16px;
	display: block;
	line-height: 25px;
}

.inputs .resource-name, .outputs .resource-name{
	font-weight: bold;
}

.jobs-builds-list .resource {
	background-color: @base00;
}


.jobs-builds-list{
	* {
		box-sizing: border-box;
	}


 .build-times {
	 float: left;
	 width: 15%;
 }

 .inputs, .outputs {
   float: left;
   width: 40%;
 }

 .build-resources {
   display: table;
   width: 100%;
 }

 .resource {
   display: table-row
 }

 .resource-name {
   display: table-cell;
 }
 .resource-version {
   display: table-cell;
   width: 100%;
   text-align: right;
   padding-left: 5px;
   word-wrap: break-word;
 }


 @media (max-width: 1200px) {
	 .inputs, .outputs, .build-times{
		 width: 100%;
	 }

   .resource-version {
     padding-left: 0;
   }
 }
}
