.job-header,
.pagination-header {
  padding: 0;
  height: 60px;

  h1 {
    line-height: 60px;
    float: left;
    margin: 0;
    margin-left: 18px;
  }
}

.build-header,
.pagination-header {
  padding: 0;

  h1 {
    line-height: 60px;
    float: left;
    margin: 0;
    margin-left: 18px;
  }
}

.build-header .build-name,
.pagination-header h1 {
  font-weight: bold;
}

.build-duration {
  line-height: 16px;
}

.build-header .build-duration {
  float: left;
  margin: 6px 0 6px 24px;
}

.pagination-header .last-checked {
  float: left;
  margin-left: 24px;
}

.cli-downloads {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.cli-downloads li {
  display: inline-block;
  padding-left: 7px;
}

.cli-downloads a {
  text-decoration: none;
}

.lower-right-info {
  position: fixed;
  bottom: 1em;
  right: 1em;
}

.lower-right-info td {
  text-align: right;
  padding: 0;
}

.lower-right-info > .cli-downloads {
  text-align: right;
}

#concourse-version {
  font-weight: bold;
}

#builds,
.builds-list {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
}

.builds-list li {
  float: left;
  margin: 5px;
}

.jobs-builds-list {
  background: none;
}

.jobs-builds-list li {
  background-color: @base02;
  width: 100%;
  float: none;
  margin: 0;
  margin-bottom: 10px;
}

#builds li {
  display: inline-block;
}

#builds li a,
.builds-list li a {
  font-size: 20px;
  line-height: 1em;
  text-align: center;
  margin: 0;
  padding: 5px;
  display: block;
  font-weight: bold;
  text-decoration: none;
}

#build-requires-auth {
  display: none; /* gets toggled by failed websocket connection */
}

.build-login input {
  width: 100%;
  padding: 0 10px;
  text-decoration: none;
  font-size: 18px;
  line-height: 40px;
  font-family: inherit;
  font-weight: bold;
  cursor: pointer;
  margin: 0;
  border: none;
}

span.error {
  font-weight: bold;
}

ul.prep-status-list {
  margin-top: 5px;
  margin-bottom: 10px;
  padding-left: 5px;
}

li.prep-status {
  line-height: 1.5em;
  list-style-type: none;

  .marker {
    margin-right: 5px;
  }

  .details {
    margin-left: 40px;
  }
}

.step-body {
  padding: 10px 0 10px 10px;
}

.build-step pre {
  margin: 0;
}

.steps {
  font-size: 14px;
}

.steps .seq {
  clear: both;
}

.seq {
  margin-bottom: 10px;
}

.steps .seq:last-child {
  margin-bottom: 0;
}

.build-step.inactive h3,
.build-step.inactive i,
.build-step.inactive .dictionary,
.prep-status.inactive {
  color: @base03;
}

.build-step .header {
  cursor: pointer;
  clear: both;
  min-height: 28px;
  position: sticky;
  top: 0;
  z-index: 1;
}

.build-step .header i {
  line-height: 28px;
  width: 28px;
}

.build-step .header i.left {
  float: left;
  margin-right: -6px;
}

.build-step .header i.right {
  float: right;
  margin-left: -6px;
}

.build-step .header .dict-key,
.build-step .header .dict-value {
  font-size: 14px;
  line-height: 28px;
  padding: 0 6px;
}

.build-step .dictionary {
  float: right;
}

.build-step .header h3 {
  margin: 0;
  padding: 0 6px;
  float: left;
  line-height: 28px;
}

.step-body .dictionary {
  max-width: 50%;
}

.step-body .header .dictionary {
  max-width: 100%;
}

.dict-key {
  text-align: right;
  vertical-align: top;
  padding: 0 10px 0 0;
  margin: 0;
}

.dict-value {
  vertical-align: top;
  padding: 0;
  margin: 0;
  word-break: break-all;
}

.resource-check-status .header {
  cursor: default;
}

.legend {
  position: absolute;
  pointer-events: none;
  bottom: 1em;
  left: 1em;
  margin: 0;
  padding: 0;

  dt {
    width: 10px;
    height: 10px;
    margin: 5px;
    float: left;
  }

  dd {
    margin-left: 22px;
    line-height: 20px;
  }
}

.pipeline-view {
  .pipeline-content {
    position: relative;
    flex-grow: 1;
  }
}

svg.pipeline-graph {
  position: absolute;
  width: 100%;
  height: 100%;

  h1 {
    margin: 5px;
    width: 100%;
  }

  h1.resource {
    font-size: 1.5em;
    font-weight: normal;
    width: 100%;
  }

  h1 a {
    padding: 5px;
    text-decoration: none;
  }

  .node a {
    cursor: pointer;
  }

  .node rect {
    shape-rendering: crispEdges;
  }

  .edge path {
    stroke-width: 2px;
    fill: none;
  }

  .node text {
    fill: #fff;
  }

  .node.constrained-input {
    text {
      fill: @base04;
    }

    &.pinned {
      text {
        fill: #fff;
        opacity: 0.7;
      }
    }
  }

  .active path {
    stroke-width: 4px;
  }

  .active.node rect {
    filter: url(#embiggen);
  }

  .active.node image {
    transform: scale(1.09) translate(-5px, -1px);
  }

  .active.node text {
    font-size: 1.06em;
  }

  .active.node use {
    transform: scale(1.09) translate(-5px, -1px);
  }
}
