@import (reference) "_vars.less";

#wall-banner {
  position: sticky;
  padding-block: clamp(0.4rem, 1.2vw, 0.75rem);
  top: 55px;
  left: 0;
  right: 0;
  z-index: 998;
  background-color: @grey70;
  color: #ffff;
  padding: 6px 16px;
  font-size: 1.25em;
  font-family: 'Inconsolata', monospace;
  text-align: center;
}

#set-wall-button {
  margin-right: 10px;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  cursor: pointer;
  background: transparent;
  border: none;
  opacity: 0.6;

  &:hover {
    opacity: 1;
  }
}

.wall-editor-bar {
  position: sticky;
  top: 55px;
  left: 0;
  right: 0;
  z-index: 999;
}

