html {
  display: flex;
  min-height: 100%;
}

body {
  font-family: 'PT Serif', 'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, Georgia, serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  background: #fff;
  color: #2A2929;
  width: 100%;
}

body.with-examples {
  background: #f5f5f5;
}

#top {
  background: #1E1D1D;
  color: #fff;
  font-family: 'Saira Condensed', monospace;
  line-height: 90px;
}

.header {
  margin-left: 70px;
  display: flex;
  flex-direction: row;
}

.side, .page, .examples {
  padding-top: 70px;
}

.page {
  width: 500px;
  background: #fff;
  padding-right: 30px;
}

.side {
  background: #fff;
  width: 200px;
  padding-left: 70px;
  font-family: 'Saira Condensed', monospace;
  font-size: 16px;
  color: #7A7373;
}

#content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.header h1 {
  margin: 0;
  border: 0;
  font-size: 36px;
  width: 200px;
}

.header nav a {
  margin-right: 50px;
  font-size: 18px;
  position: relative;
  bottom: -6px;
}

.page h1 {
  border-top: 5px solid #1E1D1D;
  padding-top: 10px;
}

.header a, .header h1 a {
  text-decoration: none;
  color: #fff;
}

.toc {
  font-family: 'Saira Condensed', monospace;
  font-size: 20px;
}

.toc ol a {
  font-size: 18px;
}

.toc, .toc ol {
  list-style: none;
}

.toc .section-number {
  color: #1E1D1D;
}

.header a:visited {
  color: #fff;
}

.header a:hover {
  border-bottom: 1px solid #868585;
  text-decoration: none;
}

.logo {
  display: inline-block;
  width: 64px;
  height: 64px;
  background-color: #3398DC;
  background-image: url('../images/logo-white.svg');
  background-repeat: no-repeat;
  background-size: 40px 40px;
  background-position: 9.5px 11px;
  margin-bottom: 90px;
}

a {
  color: #2D76CC;
}

a:visited {
  color: #868585;
}

a:hover {
  text-decoration: underline;
}

code, pre {
  font-family: 'Iosevka', monospace;
  font-size: .9em;
}

pre {
  background: #2A2929;
  color: #fff;
  padding: .5rem;
}

code code {
  font-size: 1em;
}

.page code {
  white-space: nowrap;
  background: #eee;
  padding: 4px;
  border-radius: 5px;
}

.page code code, .definition-thumb code {
  border: 0;
  padding: 0;
}

.page a code {
  color: #432E2B;
}

.page a:hover code strong {
  text-decoration: underline;
}

h1 code, h2 code, h3 code {
  font-weight: 600;
  font-size: .9em;
}

nav ul {
  list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Saira Condensed', monospace;
  font-weight: normal;
}

h1 {
  font-size: 36px;
  margin-top: 0;
  font-weight: 500;
}

h2 {
  font-size: 24px;
  font-weight: 500;
}

h3 {
  font-size: 24px;
}

h2, h3 {
  margin-top: 2rem;
}

.side a {
  color: #9B9B9B;
  text-decoration: none;
}

.side a:hover {
  text-decoration: underline;
}

.side .context {
  position: relative;
  margin-bottom: 2rem;
  margin-left: -.15rem;
}

.side .context a {
  border-left: .25em solid transparent;
  border-right: .25em solid transparent;
  margin: 0 -.25em;
}

.side .context a.self {
  color: #000;
  background: #cde6f7;
  border-color: #cde6f7;
  text-decoration: underline;
  display: inline;
}

.side .context .top {
  padding-left: 1.2rem;
  font-size: 1.1em;
}

.side .toggle {
  position: absolute;
  top: .35em;
  left: 0;
  line-height: 1.4rem;
  z-index: 2;
  opacity: 0;
}

.side .toggle:focus {
  outline: none;
}

.side .arrow:after, .side .toggle:after {
  position: absolute;
  top: .35em;
  left: 0;
  content: "\25ba";
  line-height: 1.4rem;
  font-size: .75rem;
  z-index: 1;
  cursor: pointer;
}

.side .toggle:checked + .arrow:after {
  content: "\25bc";
}

.side .toggle:not(:checked) + .arrow + .children {
  display: none;
}

.side .children {
  border-left: 1px solid #403430;
  margin-left: .35rem;
  padding-left: .8rem;
}

.side .children table {
  border-spacing: 0;
  border-collapse: collapse;
}

.side table td {
  vertical-align: top;
}

.section-number {
  margin-right: .4rem;
}

.definition-thumb a {
  color: inherit;
}

.definition-thumb a:hover {
  text-decoration: underline;
}

.definition-content {
  border-bottom: 1px dotted #EAD2A4;
  padding: 0 0 1em 1em;
  margin-bottom: 2rem;
}

.definition-content:last-child {
  border-bottom: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}

.page {
  position: relative;
  flex-shrink: 0;
}

.aside {
  border-left: 2px solid #EFB198;
  padding: 0 1em;
}


.splash-intro {
  border-bottom: 5px solid #1E1D1D;
  font-family: 'Saira Condensed', monospace;
  font-size: 20px;
  padding-bottom: 30px;
  margin-bottom: 40px;
}

.splash-intro h2 {
  margin: 0;
  border: 0;
  font-size: 36px;
  font-weight: 500;
  margin-top: -4px;
}

.splash-example h2 {
  margin-bottom: 14px;
  font-size: 24px;
  border: 0;
}

.splash-example pre {
  margin-top: 6px;
}

.side-by-side {
  display: flex;
  flex-direction: column;
}


.pipeline-grid {
  float: none;
  background: #3D3C3C;
  font-family: 'Iosevka', monospace;
}

.pipeline-grid a {
  text-decoration: none;
}

.schema-content {
  display: none;
}

.schema-content:target {
  display: block;
}

.definition {
  margin-bottom: 3em;
}

.definition .definition {
  margin-left: 0em;
  margin-bottom: 0;
}

.definition-content {
  border-left: 1px solid #E6E7E8;
}

.examples {
  background: #f5f5f5;
  flex-shrink: 1;
  min-width: 400px;
  flex-basis: 500px;
  padding-left: 300px;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  padding-top: 20px;
}

.with-examples .page {
  border-right: 1px solid #ddd;
}

.examples pre {
  background: #E6E7E8;
  color: #2A2929;
}

@media (min-width: 961px) {
  .aside {
    border: none;
    box-sizing: border-box;
    margin: 0;
    width: 200px;
    background: rgba(255, 255, 255, .25);
    position: absolute;
    right: -200px;
  }
}

@media (min-width: 1115px) {
  .page.top {
    width: 800px;
  }

  .side-by-side {
    flex-direction: row;
    justify-content: space-between;
  }

  .segment {
    width: 386px;
  }

  .segment.example {
    flex-shrink: 0;
  }

  .segment p:first-child {
    margin-top: 0;
  }
}

@media (min-width: 1246px) {
  .examples {
    flex-basis: 400px;
    padding-left: 30px;
    border-left: 0;
    border-top: 0;
  }
}

.trademark-guidelines {
  font-family: 'Iosevka', monospace;
}

.trademark-guidelines li::before {
  display: none;
}

.trademark-guidelines ul > li {
  list-style-type: decimal;
}

.trademark-guidelines ul ul > li {
  list-style-type: lower-alpha;
}

.trademark-guidelines ul ul ul > li{
  list-style-type: lower-roman;
}

.trademark-guidelines ul ul ul ul > li {
  list-style-type: decimal;
}

/* logos */
.trademark-guidelines img {
  display: block;
  width: 100px;
  height: auto;
  margin-right: 20px;
}

.trademark-guidelines h1 {
  text-align: center;
  margin: 10px 0 30px;
}

.warning {
  border-left: 2px solid #F5A623;
  color: #D58808;
  padding-left: 16px;
}
