html, body, #everything {
  /* height: 100vh; */
}

#everything {
  display: flex;
  flex-direction: column;
}

#header {
  order: 0;
}

#middle {
  order: 1;
  flex: 1;
}

#footer {
  order: 2;
}

#page {
  display: flex;
  flex-direction: row;
}

#sidebar {
  background: #F5F5F5;
  font-weight: 500;
  width: 30%;
  order: 0;
}

#content {
  color: #424242;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  max-width: 914px;
  order: 1;
  flex-grow: 1;
}

#content.full-width {
  width: 914px;
  margin: 0 auto;
}

.content-spacing {
  padding: 32px;
}

#content pre {
  background: #f5f5f5;
  font-weight: normal;
  border-radius: .35em;
  margin: 30px 0;
}

#content ul, #content ol {
  margin-left: 30px;
}

#content ul li:before {
  width: 4px;
  height: 4px;
  background: #686868;
  border: 1px solid #686868;
  border-radius: 50%;
  content: "x";
  position: relative;
  float: left;
  margin-left: -19px;
  top: 11px;
  font-size: 0;
}

#content ol li {
  list-style: decimal;
}

#content .toc li {
  list-style: none;
}

.section-label {
  margin-right: 10px;
}

#sidebar .section-label {
  color: #686868;
  font-weight: 300;
  text-align: right;
  float: right;
  margin-right: 0;
  font-family: Consolas, monospace;
}

#sidebar .toc > li > a > .section-label {
  display: none;
}

#content .toc {
  margin-bottom: 2em;
  line-height: 1.4em;
}

#table-of-contents {
  font-size: 1.1em;
}
#table-of-contents > li {
  margin-bottom: 1em;
}
#table-of-contents > li > a {
  font-weight: 600;
}
.toc p {
  padding: 0;
}

#content code,
.search-results code {
  background: #f5f5f5;
  font-weight: normal;
  box-shadow: #f5f5f5 0 0 0 .25em;
  border-radius: 1px;
  padding: 0;
  margin: 0;
}

#content .thumb pre {
  padding: 3px 8px;
  margin: 40px -8px 15px;
}

#content .definition .definition .thumb pre {
  margin-top: 30px;
}

#content .definition .definition {
  margin-bottom: 30px;
}

#content h1, #content h2, #content h3, #content h4, #content h5, #content h6 ,
#content .h1, #content .h2, #content .h3, #content .h4, #content .h5, #content .h6 {
  font-family: 'Open Sans', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
}

#content h1 {
  font-weight: 500;
}

#content .section {
  margin-bottom: 50px;
}

#content h1 {
  font-size: 30px;
}

#content h2, #content .h2 {
  margin: 40px 0 20px;
  font-size: 26px;
  line-height: 26px;
  padding-bottom: 13px;
  border-bottom: 1px solid #e0e0e0;
}

#content h3 {
  margin: 40px 0 20px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 600;
}

#content h4 {
  margin: 20px 0 10px;
  font-size: 18px;
  line-height: 18px;
}

#content .codeblock-title {
  line-height: 40px;
  background: #E6E7E8;
  padding: 0 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#content .codeblock-title p {
  margin: 0;
}

#content .codeblock-title code {
  background: transparent;
  box-shadow: none;
  color: #424242;
}

#content .titled-codeblock pre {
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.sidebar-spacing {
  width: 250px;
  float: right;
  position: relative;
  padding-left: 20px;
}

#sidebar .toc {
  margin: 0;
  padding: 0;
  font-size: 16px;
}
#sidebar .toc ol {
  margin: 0;
  padding: 0 0 0 1em;
}
#sidebar .toc li {
  list-style-type: none;
}
#sidebar .toc a {
  padding: .5em 1em;
  display: block;
  color: #424242;
  border-left: 3px solid transparent;
}
#sidebar .toc code {
  padding: .2rem .5rem;
  background: #fff;
  font-weight: normal;
  border-radius: 5px;
}
#sidebar .toc .current > a > code {
  background: #f5f5f5;
}
#sidebar .toc li ol {
  display: none;
}
#sidebar .toc li.active > ol {
  display: block;
}
#sidebar .toc li.current > a,
#sidebar .section-header a.current {
  background: #FFFFFF;
}
#sidebar #toc > li.active > a {
  border-left-color: transparent;
}
#sidebar .toc li.current > a,
#sidebar .toc li.active > a,
#sidebar #toc > li.current > a,
#sidebar .section-header a.current {
  border-left-color: #379ADC;
}
#sidebar ol ol {
  font-size: 14px;
  white-space: initial;
}
#sidebar .toc .active li > a {
  border-left-width: 2px;
}
#sidebar .toc a:hover {
  border-left-color: #5DADE2;
}
#sidebar a:hover {
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}
#sidebar .search {
  box-shadow: 0 0 10px rgba(0, 0, 0, .125);
  position: absolute;
  z-index: 10;
  top: 20px;
  min-width: 230px;
  transition: width 0.5s ease;
}
#sidebar .search input {
  width: 100%;
  transition: width 0.5s ease;
  margin: 0;
  box-sizing: border-box;
  height: 38px;
  padding: 10px;
  border: 0;
  font-size: inherit;
  font-family: inherit;
}
#sidebar .search input:focus {
  width: 400px;
}
#sidebar .single-page-link a {
  background: white;
  display: block;
  padding: 3px 0;
  text-align: center;
  font-size: 14px;
  margin-right: 20px;
  margin-left: 20px;
  margin: 20px;
  color: #5C6D7F;
}
#sidebar .single-page-link a:hover {
  color: #379ADC;
}
#sidebar .search .search-results {
  margin: 0;
  padding: 0;
  display: none;
  background: #fff;
  border-top: 1px solid #E7E7E7;
}
#sidebar .search .search-results li {
  list-style: none;
  padding: 5px 8px 5px 16px;
  text-indent: -8px;
}
#sidebar .search .search-results .parent {
  font-size: 12px;
  font-style: italic;
  color: #686868;
}
#sidebar .search .search-results .parent a {
  color: #424242;
}
#sidebar .search .search-results .tag {
  font-style: italic;
  color: #686868;
}
#sidebar #toc > li {
  margin-top: 20px;
  padding-bottom: 20px;
}
#sidebar #toc > li > a {
  font-family: 'Open Sans', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #686868;
  padding: 8px 16px;
  border-left-width: 3px;
}
#sidebar #toc > li > ol {
  display: block;
  padding: 0;
}
#sidebar #toc > li > ol > li > a {
  font-size: 16px;
}
#sidebar #toc > li > ol > li a {
  font-size: 16px;
  border-left-width: 2px;
}
.search-results code {
  padding: 0; /* SKELETOOOON */
}

.docs-header .navbar-header, .docs-header .navbar-collapse {
  border-bottom: 0;
}

.tutorial-image {
  text-align: center;
  margin: 20px 0;
}

.tutorial-image img {
  width: 70%;
}

.warning {
  background: #FCF3CF;
  border-left: 2px solid #F1C40F;
  padding: 10px 13px;
  margin-bottom: 2.5rem;
}

.warning p:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
}

p .fa {
  margin: 0 3px;
}
