.intro-slogan {
  margin-top: 20px;
}

@media (max-width: 640px) {
  .intro-slogan {
    font-size: 30px !important;
  }
}

.splash-pipeline-image {
  padding: 0 10px; /* spacing for narrow window/mobile */
  position: relative;
}

.concourse-pipeline-link {
  display: inline-block;
  position: absolute;
  top: 35px;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 950px;
  margin: 0 auto;
}

.pipes {
  line-height: 0; /* fixes weird padding at the bottom */
}

.pipes object {
  max-width: 950px;
  height: 185px;
  border-top: 10px solid #b4b4b4;
  border-left: 10px solid #b4b4b4;
  border-right: 10px solid #b4b4b4;
  border-radius: 10px;
  margin-top: 25px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  transition: all 0.5s ease;
}

@media (max-width: 985px) {
  .pipes object {
    position: relative;
    left: -5px;
    height: auto;
    border-top: 5px solid #b4b4b4;
    border-left: 5px solid #b4b4b4;
    border-right: 5px solid #b4b4b4;
    border-radius: 5px;
    transition: all 0.5s ease;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.soft-line {
  display: inline-block;
  white-space: pre;
}

.intro-slogan {
  padding: 0 30px;
}

@media (min-width: 985px) {
  .value-props, .value-prop-b {
    padding: 80px 0;
  }
}

.line-path {
  display: inline-block;
}

@media (min-width: 150px) {
  .line-path {
    background-image: url("line_path_xsml.svg");
    width: 239px;
    height: 73px;
  }
}

@media (min-width: 550px) {
  .line-path {
    background-image: url("line_path_sml.svg");
    width: 355px;
    height: 119px;
  }
}

@media (min-width: 1040px) {
  .line-path {
    background-image: url("line_path.svg");
    width: 505px;
    height: 177px;
  }
}
