.trademark-guidelines li::before {
  display: none;
}

.trademark-guidelines ul > li {
  list-style-type: decimal;
}

.trademark-guidelines ul ul > li {
  list-style-type: lower-alpha;
}

.trademark-guidelines ul ul ul > li{
  list-style-type: lower-roman;
}

.trademark-guidelines ul ul ul ul > li {
  list-style-type: decimal;
}

/* logos */
.trademark-guidelines img {
  display: block;
  width: 100px;
  height: auto;
  margin-right: 20px;
}

.trademark-guidelines h1 {
  text-align: center;
  margin: 10px 0 30px;
}
