{{define "title"}}Builds - Concourse{{end}}

{{define "body"}}
<div class="phl">
  <h1 class="h1">builds</h1>

  <div>
    <table class="table">
      <thead>
        <th>ID</th>
        <th>Pipeline Name</th>
        <th>Job Name</th>
        <th>Start Time</th>
        <th>End Time</th>
      </thead>

      {{range .Builds}}
        <tr class="table-row {{.CSSClass}}">
          <td><a class="build-number {{.Status}}" href="{{.Path}}">#{{.ID}}</a></td>
          <td>{{.PipelineName}}</td>
          <td>{{.JobName}}</td>
          <td>{{.StartTime}}</td>
          <td>{{.EndTime}}</td>
        </tr>
      {{end}}
    </table>
  </div>
</div>
{{end}}
