{{define "title"}}One Off Build - Concourse{{end}}

{{define "body"}}
<div id="page-header" class="{{.Build.Status}}">
  <div class="build-header js-build" data-build-id="{{.Build.ID}}">

    {{if .Build.Abortable}}
    <span class="build-action build-action-abort fr js-abortBuild" aria-label="Abort Build"><i class="fa fa-times-circle"></i></span>
    {{end}}

    <h1>build #{{.Build.ID}}</h1>

    <dl class="build-times"></dl>
  </div>
</div>

<div id="build-body" class="build-body-noSubHeader">
  <div id="build-requires-auth">
    <form method="get" action="{{url "LogIn"}}">
      <input type="submit" value="log in to view" />
      <input type="hidden" name="redirect" value="{{url "GetJoblessBuild" .Build}}" />
    </form>
  </div>
  <div id="build-logs"></div>
</div>

<script src="{{asset "jquery-2.1.1.min.js"}}"></script>
<script src="{{asset "concourse.js"}}"></script>
<script src="{{asset "build.js"}}"></script>
<script type="text/javascript">
  streamLog({{url "BuildEvents" .Build | js}}, {{.Build.Status | js}})
</script>
{{end}}
