---
name: concourse-testflight

director_uuid: {{.DirectorUUID}}

# noop pipeline
pipeline: &pipeline
  resources: []
  jobs: []

releases:
  - name: concourse
    version: latest
  - name: garden-linux
    version: {{.GardenLinuxVersion}}

jobs:
  - name: concourse
    instances: 1
    networks:
      - name: concourse
        static_ips: [&web-ip 10.244.15.2]
    persistent_disk: 10240
    resource_pool: concourse
    templates:
      - {release: concourse, name: consul-agent}
      - {release: concourse, name: atc}
      - {release: concourse, name: postgresql}
      - {release: concourse, name: tsa}
      - {release: concourse, name: groundcrew}
      - {release: garden-linux, name: garden}
    properties:
      atc:
        pipeline: *pipeline

        # turn off and provide auth for a real vagrant instance
        development_mode: true

        postgresql:
          role: &atc-role
            name: atc
            password: dummy-password

      postgresql:
        databases: [{name: atc}]
        roles:
          - *atc-role

      garden:
        listen_network: tcp
        listen_address: 0.0.0.0:7777

        # cannot enforce quotas in bosh-lite
        disk_quota_enabled: false

        allow_host_access: true

        mount_btrfs_loopback: false

      consul:
        agent:
          mode: server

networks:
  - name: concourse
    subnets:
      # network with static ip used for web
      - range: 10.244.15.0/30
        reserved: [10.244.15.1]
        static: [10.244.15.2]
        cloud_properties: {}

      # networks for dynamic ips (compilation vms)
      - range: 10.244.15.4/30
        reserved: [10.244.15.5]
        cloud_properties: {}
      - range: 10.244.15.8/30
        reserved: [10.244.15.9]
        cloud_properties: {}
      - range: 10.244.15.12/30
        reserved: [10.244.15.13]
        cloud_properties: {}
      - range: 10.244.15.16/30
        reserved: [10.244.15.17]
        cloud_properties: {}
      - range: 10.244.15.20/30
        reserved: [10.244.15.21]
        cloud_properties: {}

resource_pools:
  - name: concourse
    network: concourse
    cloud_properties: {}
    stemcell:
      name: bosh-warden-boshlite-ubuntu-trusty-go_agent
      version: latest

compilation:
  workers: 3
  network: concourse
  cloud_properties: {}

update:
  canaries: 1
  max_in_flight: 3
  serial: false
  canary_watch_time: 1000-600000
  update_watch_time: 1000-600000
