# version, managed by CI
src/version/VERSION

config/dev.yml
config/private.yml
releases/*.tgz
releases/**/*.tgz
dev_releases
.blobs
blobs
.dev_builds
.idea
.DS_Store
.final_builds/jobs/**/*.tgz
.final_builds/packages/**/*.tgz
*.swp
*~
*#
#*

/*deployment.yml
/src_alt

.vagrant/
docs/concourse/

/bin
/pkg

.hg
.bzr

# development dependencies
src/github.com/nsf/gocode/
src/code.google.com/p/go.tools/
src/code.google.com/p/goplan9/
src/code.google.com/p/rog-go/
src/sourcegraph.com/sqs/goreturns/
src/golang.org/x/tools/
src/github.com/golang/lint/
src/github.com/jstemmer/gotags/
src/github.com/maxbrunsfeld/counterfeiter/

# ctags
tags

# IaaS Configs
.tugboat

.bosh
.gitconfig

# fly binaries
src/fly_binaries/*

# dev setup
dev/vbox/bosh-deployment/
dev/vbox/creds.yml
dev/vbox/state.json
dev/vbox/deploy-creds.yml
