[submodule "src/prole"]
	path = src/prole
	url = https://github.com/winston-ci/prole.git
[submodule "src/redgreen"]
	path = src/redgreen
	url = https://github.com/winston-ci/redgreen.git
[submodule "src/loggregator"]
	path = src/loggregator
	url = https://github.com/cloudfoundry/loggregator.git
[submodule "src/winston"]
	path = src/winston
	url = https://github.com/winston-ci/winston.git
[submodule "src/redis"]
	path = src/redis
	url = https://github.com/antirez/redis
[submodule "src/warden-linux"]
	path = src/warden-linux
	url = https://github.com/cloudfoundry-incubator/warden-linux.git
