[submodule "src/github.com/dlclark/regexp2"]
	path = src/github.com/dlclark/regexp2
	url = https://github.com/dlclark/regexp2
	branch = master
[submodule "src/github.com/jessevdk/go-flags"]
	path = src/github.com/jessevdk/go-flags
	url = https://github.com/jessevdk/go-flags
	branch = master
[submodule "src/github.com/alecthomas/chroma"]
	path = src/github.com/alecthomas/chroma
	url = https://github.com/alecthomas/chroma
	branch = master
[submodule "src/github.com/danwakefield/fnmatch"]
	path = src/github.com/danwakefield/fnmatch
	url = https://github.com/danwakefield/fnmatch
	branch = master
[submodule "src/golang.org/x/crypto"]
	path = src/golang.org/x/crypto
	url = https://go.googlesource.com/crypto
	branch = master
[submodule "src/golang.org/x/sys"]
	path = src/golang.org/x/sys
	url = https://go.googlesource.com/sys
	branch = master
[submodule "src/github.com/blang/semver"]
	path = src/github.com/blang/semver
	url = https://github.com/blang/semver
	branch = master
[submodule "src/github.com/sirupsen/logrus"]
	path = src/github.com/sirupsen/logrus
	url = https://github.com/sirupsen/logrus
	branch = master
[submodule "src/github.com/vito/booklit"]
	path = src/github.com/vito/booklit
	url = https://github.com/vito/booklit
	branch = master
