[submodule "src/github.com/BurntSushi/migration"]
	path = src/github.com/BurntSushi/migration
	url = https://github.com/BurntSushi/migration
	branch = master
[submodule "src/github.com/bmizerany/pat"]
	path = src/github.com/bmizerany/pat
	url = https://github.com/bmizerany/pat
	branch = master
[submodule "src/github.com/concourse/atc"]
	path = src/github.com/concourse/atc
	url = https://github.com/concourse/atc
	branch = master
[submodule "src/github.com/lib/pq"]
	path = src/github.com/lib/pq
	url = https://github.com/lib/pq
	branch = master
[submodule "src/github.com/nu7hatch/gouuid"]
	path = src/github.com/nu7hatch/gouuid
	url = https://github.com/nu7hatch/gouuid
	branch = master
[submodule "src/github.com/pivotal-golang/lager"]
	path = src/github.com/pivotal-golang/lager
	url = https://github.com/pivotal-golang/lager
	branch = master
[submodule "src/github.com/tedsuo/ifrit"]
	path = src/github.com/tedsuo/ifrit
	url = https://github.com/tedsuo/ifrit
	branch = master
[submodule "src/github.com/tedsuo/rata"]
	path = src/github.com/tedsuo/rata
	url = https://github.com/tedsuo/rata
	branch = master
[submodule "src/github.com/cloudfoundry-incubator/garden"]
	path = src/github.com/cloudfoundry-incubator/garden
	url = https://github.com/cloudfoundry-incubator/garden
	branch = master
[submodule "src/github.com/onsi/ginkgo"]
	path = src/github.com/onsi/ginkgo
	url = https://github.com/onsi/ginkgo
	branch = master
[submodule "src/github.com/onsi/gomega"]
	path = src/github.com/onsi/gomega
	url = https://github.com/onsi/gomega
	branch = master
[submodule "src/github.com/codegangsta/cli"]
	path = src/github.com/codegangsta/cli
	url = https://github.com/codegangsta/cli
	branch = master
[submodule "src/github.com/concourse/fly"]
	path = src/github.com/concourse/fly
	url = https://github.com/concourse/fly
	branch = master
[submodule "src/github.com/kr/pty"]
	path = src/github.com/kr/pty
	url = https://github.com/kr/pty
	branch = master
[submodule "src/github.com/mgutz/ansi"]
	path = src/github.com/mgutz/ansi
	url = https://github.com/mgutz/ansi
	branch = master
[submodule "src/github.com/pkg/term"]
	path = src/github.com/pkg/term
	url = https://github.com/pkg/term
	branch = master
[submodule "src/github.com/concourse/testflight"]
	path = src/github.com/concourse/testflight
	url = https://github.com/concourse/testflight
	branch = master
[submodule "src/github.com/vito/gosub"]
	path = src/github.com/vito/gosub
	url = https://github.com/vito/gosub
	branch = master
[submodule "src/github.com/cloudfoundry-incubator/candiedyaml"]
	path = src/github.com/cloudfoundry-incubator/candiedyaml
	url = https://github.com/cloudfoundry-incubator/candiedyaml
	branch = master
[submodule "src/github.com/vito/go-sse"]
	path = src/github.com/vito/go-sse
	url = https://github.com/vito/go-sse
	branch = master
[submodule "src/gopkg.in/yaml.v2"]
	path = src/gopkg.in/yaml.v2
	url = https://gopkg.in/yaml.v2
	branch = master
[submodule "src/github.com/concourse/blackbox"]
	path = src/github.com/concourse/blackbox
	url = https://github.com/concourse/blackbox
	branch = master
[submodule "src/github.com/howeyc/fsnotify"]
	path = src/github.com/howeyc/fsnotify
	url = https://github.com/howeyc/fsnotify
	branch = master
[submodule "src/github.com/ActiveState/tail"]
	path = src/github.com/ActiveState/tail
	url = https://github.com/ActiveState/tail
	branch = master
[submodule "src/gopkg.in/tomb.v1"]
	path = src/gopkg.in/tomb.v1
	url = https://gopkg.in/tomb.v1
	branch = master
[submodule "src/github.com/papertrail/remote_syslog2"]
	path = src/github.com/papertrail/remote_syslog2
	url = https://github.com/papertrail/remote_syslog2
	branch = master
[submodule "src/github.com/ziutek/syslog"]
	path = src/github.com/ziutek/syslog
	url = https://github.com/ziutek/syslog
	branch = master
[submodule "src/github.com/concourse/gate"]
	path = src/github.com/concourse/gate
	url = https://github.com/concourse/gate
	branch = master
[submodule "src/github.com/pivotal-golang/clock"]
	path = src/github.com/pivotal-golang/clock
	url = https://github.com/pivotal-golang/clock
	branch = master
[submodule "src/github.com/hashicorp/go-multierror"]
	path = src/github.com/hashicorp/go-multierror
	url = https://github.com/hashicorp/go-multierror
	branch = master
[submodule "src/github.com/gogo/protobuf"]
	path = src/github.com/gogo/protobuf
	url = https://github.com/gogo/protobuf
	branch = master
[submodule "src/github.com/kr/binarydist"]
	path = src/github.com/kr/binarydist
	url = https://github.com/kr/binarydist
	branch = master
[submodule "src/github.com/inconshreveable/go-update"]
	path = src/github.com/inconshreveable/go-update
	url = https://github.com/inconshreveable/go-update
	branch = master
[submodule "src/github.com/kardianos/osext"]
	path = src/github.com/kardianos/osext
	url = https://github.com/kardianos/osext
	branch = master
[submodule "src/github.com/aryann/difflib"]
	path = src/github.com/aryann/difflib
	url = https://github.com/aryann/difflib
	branch = master
[submodule "src/github.com/mitchellh/mapstructure"]
	path = src/github.com/mitchellh/mapstructure
	url = https://github.com/mitchellh/mapstructure
	branch = master
[submodule "src/github.com/markchadwick/go-datadog"]
	path = src/github.com/markchadwick/go-datadog
	url = https://github.com/markchadwick/go-datadog
	branch = master
[submodule "src/github.com/rcrowley/go-metrics"]
	path = src/github.com/rcrowley/go-metrics
	url = https://github.com/rcrowley/go-metrics
	branch = master
