[Unit]
Description=Concourse Worker

[Service]
ExecStart=/usr/local/concourse/bin/concourse worker
User=root
Group=root
Type=simple
LimitNPROC=infinity
LimitNOFILE=infinity
TasksMax=infinity
MemoryLimit=infinity
Delegate=yes
KillMode=process

[Install]
WantedBy=multi-user.target
