@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: url("../../static/fonts/Inconsolata-Regular.ttf");
}

@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 700;
  src: url("../../static/fonts/Inconsolata-Bold.ttf");
}


* {
  font-family: "Inconsolata", monospace;
  font-weight: normal;
  color: #ccc;
}

.theme-body {
  background-color: #3D3C3C;
  font-size: 14px;
}

.theme-navbar {
  background-color: #1E1D1D;
  height: 54px;
}

.theme-navbar__logo-wrap {
  display: inline-block;
  height: 100%;
  overflow: hidden;
  margin: 6px;
}

.theme-navbar__logo {
  height: 42px;
  width: 42px;
}

.theme-heading {
  font-size: 18px;
  margin: 20px 0 40px;
}

.theme-panel {
  background-color: #1E1D1D;
  padding: 30px;
  border: 1px solid #484747;
}

.theme-btn-provider, .theme-btn--primary {
  width: 230px;
  height: 38px;
  border: 1px solid #196AC8;
  box-shadow: none;
  border-radius: 0;
  background-color: #1E1D1D;
  font-size: 14px;
}

.theme-btn--primary {
  margin: 20px 0;
}

.theme-btn--primary:hover {
  background-color: #196AC8;
  color: white;
}

.theme-btn-provider {
  text-align: left;
}

.theme-btn-provider .dex-btn-icon {
  border-radius: 0;
  background-color: #196AC8;
}

.theme-btn-provider .dex-btn-text {
  font-weight: normal;
}

.theme-btn-provider:hover {
  background-color: #196AC8;
}

.theme-btn-provider:hover .dex-btn-text {
  color: white;
}

.theme-btn-provider:active {
  background-color: #196AC8;
}

.theme-form-row {
  display: block;
  margin:  0 auto 15px;
}

.theme-form-input {
  border: 1px solid #6D6D6D;
  display: block;
  width: 230px;
  height: 38px;
  margin: 0 auto;
  padding: 6px 12px;
  background-color: #1E1D1D;
  font-size: 16px;
}

.theme-form-input:focus,
.theme-form-input:active {
  border-color: white;
  outline: none;
}

.theme-form-label {
  font-size: 14px;
  letter-spacing: 0.05em;
  width: 230px;
  margin: 0 auto 5px;
  position: relative;
  text-align: left;
  padding: 5px;
}

.theme-link-back {
  font-size: 16px;
  margin: 4px 0 10px;
  text-align: left;
}

.theme-link-back a {
  text-decoration: none;
}
