---
platform: linux

image_resource:
  type: registry-image
  source: {repository: concourse/unit}

inputs:
- name: concourse
- name: version
- name: linux-rc
- name: windows-rc
- name: darwin-rc

outputs:
- name: concourse-linux
- name: concourse-windows
- name: concourse-darwin
- name: fly-linux
- name: fly-windows
- name: fly-darwin

run:
  path: concourse/ci/tasks/scripts/prep-release-assets
