---
platform: linux

image_resource:
  type: registry-image
  source: {repository: concourse/unit}

inputs:
- name: concourse

caches:
- path: concourse/node_modules
- path: concourse/web/elm/elm-stuff

run:
  path: concourse/ci/tasks/scripts/yarn-analyse
