<div class="context">
  <nav>
    <ul>
      <li><a href="/"{{#is "index"}} class="self"{{/is}}>Blog</a></li>
      {{#foreach navigation}}
      <li><a href="{{url absolute="true"}}"{{#if current}} class="self"{{/if}}>{{label}}</a></li>
      {{/foreach}}
    </ul>
  </nav>
</div>
