---
name: garden-testflight

director_uuid: <%= `bosh status --uuid` %>

releases:
  - name: garden-linux
    version: {{.GardenLinuxVersion}}

jobs:
  - name: garden
    instances: 1
    networks:
      - name: garden
        static_ips: [&web-ip 10.244.16.2]
    resource_pool: garden
    templates:
      - {release: garden-linux, name: garden}
    properties:
      garden:
        listen_network: tcp
        listen_address: 0.0.0.0:7777

        # cannot enforce quotas in bosh-lite
        disk_quota_enabled: false

        allow_host_access: true

networks:
  - name: garden
    subnets:
      # network with static ip used for web
      - range: 10.244.16.0/30
        reserved: [10.244.16.1]
        static: [10.244.16.2]
        cloud_properties: {}

      # networks for dynamic ips (compilation vms)
      - range: 10.244.16.4/30
        reserved: [10.244.16.5]
        cloud_properties: {}
      - range: 10.244.16.8/30
        reserved: [10.244.16.9]
        cloud_properties: {}
      - range: 10.244.16.12/30
        reserved: [10.244.16.13]
        cloud_properties: {}
      - range: 10.244.16.16/30
        reserved: [10.244.16.17]
        cloud_properties: {}
      - range: 10.244.16.20/30
        reserved: [10.244.16.21]
        cloud_properties: {}

resource_pools:
  - name: garden
    network: garden
    cloud_properties: {}
    stemcell:
      name: bosh-warden-boshlite-ubuntu-trusty-go_agent
      version: latest

compilation:
  workers: 3
  network: garden
  cloud_properties: {}

update:
  canaries: 1
  max_in_flight: 3
  serial: false
  canary_watch_time: 1000-60000
  update_watch_time: 1000-60000
