{{define "title"}}{{.Job.Name}} #{{.Build.ID}} - Concourse{{end}}

{{define "body"}}
<div id="build-header">
  <div id="build-title" class="{{.Build.Status}}">
    <form class="trigger-build" method="post" action="{{url "TriggerBuild" .Job}}">
      <input type="submit" value="trigger build" />
    </form>

    <a class="title" href="/">&lt;</a>

    <h1>{{.Job.Name}} #{{.Build.ID}}</h1>

    {{if .Abortable}}
    <form class="abort-build" method="post" action="{{url "AbortBuild" .Job .Build}}">
      <input type="submit" value="abort" />
    </form>
    {{end}}
  </div>

  <ul id="builds">
    {{$job := .Job}}
    {{$currentID := .Build.ID}}
    {{/* don't put whitespace between these; they're display-block */}}
    {{range .Builds}}<li class="{{.Status}}{{if eq .ID $currentID}} current{{end}}"><a href="{{url "GetBuild" $job .}}">{{.ID}}</a></li>{{end}}
  </ul>
</div>

<div id="build-body">
  <div id="build-resources">
    {{if not (eq 0 (len .Inputs))}}
    <div class="build-inputs">
      <h2>inputs</h2>
      {{range .Inputs}}
      <div class="build-source{{if .FirstOccurrence}} first-occurrence{{end}}">
        <div class="resource-header">
          <h3>{{.Name}}</h3>

          <dl class="version">
            {{range $name, $val := .Version}}
            <dt>{{$name}}</dt>
              <dd>{{$val}}</dd>
            {{end}}
          </dl>

          <div style="clear: both"></div>
        </div>

        {{if not (eq 0 (len .Metadata))}}
        <dl class="build-metadata">
          {{range .Metadata}}
          <dt>{{.Name}}</dt>
            <dd>{{.Value}}</dd>
          {{end}}
        </dl>
        {{end}}
      </div>
      {{end}}
    </div>
    {{end}}

    {{if not (eq 0 (len .Outputs))}}
    <div class="build-outputs">
      <h2>outputs</h2>
      {{range .Outputs}}
      <div class="build-source">
        <div class="resource-header">
          <h3>{{.Name}}</h3>

          <dl class="version">
            {{range $name, $val := .Version}}
            <dt>{{$name}}</dt>
              <dd>{{$val}}</dd>
            {{end}}
          </dl>

          <div style="clear: both"></div>
        </div>

        {{if not (eq 0 (len .Metadata))}}
        <dl class="build-metadata">
          {{range .Metadata}}
          <dt>{{.Name}}</dt>
            <dd>{{.Value}}</dd>
          {{end}}
        </dl>
        {{end}}
      </div>
      {{end}}
    </div>
    {{end}}
  </div>

  <pre id="build-log"></pre>
</div>

<script src="{{url "Public" "jquery-2.1.1.min.js"}}"></script>
<script src="{{url "Public" "build.js"}}"></script>
<script type="text/javascript">
var protocol;

if(window.location.protocol === "https:") {
  protocol = "wss:";
} else {
  protocol = "ws:";
}

streamLog(protocol + "//" + window.location.host + {{url "LogOutput" .Job .Build | js}})
</script>
{{end}}
