{{define "title"}}{{.Job.Name}} #{{.Build.Name}} - Concourse{{end}}

{{define "body"}}
<div id="build-header">
  <div id="build-title" class="{{.Build.Status}}">
    <form class="trigger-build" method="post" action="{{url "TriggerBuild" .Job}}">
      <input type="submit" value="trigger build" />
    </form>

    <a class="title" href="/">&lt;</a>

    <h1>{{.Job.Name}} #{{.Build.Name}}</h1>

    <dl class="build-times"></dl>

    {{if .Abortable}}
    <form class="abort-build" method="post" action="{{url "AbortBuild" .Build}}">
      <input type="submit" value="abort" />
    </form>
    {{end}}
  </div>

  <ul id="builds">
    {{$job := .Job}}
    {{$currentName := .Build.Name}}
    {{/* omitting whitespace for display-block style */}}
    {{range .Builds}}<li class="{{.Status}}{{if eq .Name $currentName}} current{{end}}"><a href="{{url "GetBuild" $job .}}">{{.Name}}</a></li>{{end}}
  </ul>
</div>

<div id="build-body">
  <div id="build-requires-auth">
    <form method="get" action="{{url "LogIn"}}">
      <input type="submit" value="log in to view" />
      <input type="hidden" name="redirect-to" value="{{url "GetBuild" .Job .Build}}" />
    </form>
  </div>

  {{/* omitting whitespace for :empty style */}}
  <div class="build-resources build-inputs">{{range .Inputs}}
    <div data-resource="{{.Name}}" class="build-source{{if .FirstOccurrence}} first-occurrence{{end}}">
      <div class="resource-header">
        <h3>{{.Name}}</h3>

        <dl class="version">
          {{range $name, $val := .Version}}
          <dt>{{$name}}</dt>
            <dd>{{$val}}</dd>
          {{end}}
        </dl>

        <div style="clear: both"></div>
      </div>

      <div class="resource-body">
        <dl class="build-metadata">
          {{range .Metadata}}
          <dt>{{.Name}}</dt>
            <dd>{{.Value}}</dd>
          {{end}}
        </dl>

        <pre class="log"></pre>
        <div style="clear: both"></div>
      </div>
    </div>
    {{end}}</div>

  <pre id="build-log"></pre>

  {{/* omitting whitespace for :empty style */}}
  <div class="build-resources build-outputs">{{range .Outputs}}
    <div data-resource="{{.Name}}" class="build-source">
      <div class="resource-header">
        <h3>{{.Name}}</h3>

        <dl class="version">
          {{range $name, $val := .Version}}
          <dt>{{$name}}</dt>
            <dd>{{$val}}</dd>
          {{end}}
        </dl>

        <div style="clear: both"></div>
      </div>

      <div class="resource-body">
        <dl class="build-metadata">
          {{range .Metadata}}
          <dt>{{.Name}}</dt>
            <dd>{{.Value}}</dd>
          {{end}}
        </dl>

        <pre class="log"></pre>
        <div style="clear: both"></div>
      </div>
    </div>
    {{end}}</div>
</div>

{{/* used for constructing elements via JS */}}
<div style="display: none" id="resource-template">
  <div class="build-source">
    <div class="resource-header">
      <h3></h3>

      <dl class="version"></dl>

      <div style="clear: both"></div>
    </div>

    <div class="resource-body">
      <dl class="build-metadata">
      </dl>

      <pre class="log"></pre>
      <div style="clear: both"></div>
    </div>
  </div>
</div>

<script src="{{url "Public" "jquery-2.1.1.min.js"}}"></script>
<script src="{{url "Public" "moment.min.js"}}"></script>
<script src="{{url "Public" "moment-duration-format.js"}}"></script>
<script src="{{url "Public" "ansiparse.js"}}"></script>
<script src="{{url "Public" "build.js"}}"></script>
<script type="text/javascript">
var protocol;

if(window.location.protocol === "https:") {
  protocol = "wss:";
} else {
  protocol = "ws:";
}

streamLog(protocol + "//" + window.location.host + {{url "LogOutput" .Build | js}})
</script>
{{end}}
