{{define "title"}}{{.JobName}} #{{.Build.Name}} - Concourse{{end}}

{{define "body"}}
<div id="elm-app"></div>

<script src="{{asset "jquery-2.1.1.min.js"}}"></script>
<script src="{{asset "concourse.js"}}"></script>
<script src="{{asset "elm.js"}}"></script>
<script type="text/javascript">
concourse.pipelineName = "{{.PipelineName}}"; // used for detecting if the pipeline is paused

var node = document.getElementById("elm-app");
Elm.BuildPage.embed(node, {buildId: {{.Build.ID}}});
</script>
{{end}}
