{{define "title"}}Concourse{{end}}

{{define "body"}}
<div id="elm-app"></div>

<script type="text/javascript">
var node = document.getElementById("elm-app");
var app = Elm.BuildPage.embed(node);

app.ports.setTitle.subscribe(function(title) {
  document.title = title + " - Concourse";
});

app.ports.focusElement.subscribe(function(id) {
  requestAnimationFrame(function() {
    document.getElementById(id).focus();
  });
});

app.ports.selectBuildGroups.subscribe(function (groups) {
  topBar.ports.selectGroups.send(groups);
});

</script>
{{end}}
