{{define "title"}}Debug - Concourse{{end}}

{{define "body"}}
<div class="phl">
  <h1 class="h1">debug</h1>

  <div>
    {{range $worker, $containers := .WorkMap}}
      <h2>{{$worker}}</h2>

      <ul>
        {{range $containers}}
          <dl>
            <dt>handle</dt>
            <dd>{{.Handle}}</dd>

            <dt>name</dt>
            <dd>{{.Name}}</dd>

            <dt>pipeline</dt>
            <dd>{{.PipelineName}}</dd>

            <dt>type</dt>
            <dd>{{.Type}}</dd>

            <dt>expires at</dt>
            <dd>{{.ExpiresAt}}</dd>
          </dl>
        {{end}}
      </ul>
    {{end}}
  </div>
</div>
{{end}}
