{{define "title"}}{{.PipelineName}} - Concourse{{end}}

{{define "body"}}
<svg class="pipeline-graph test" width="100%" height="100%"></svg>

<div id="elm-app"></div>

<script src="{{asset "d3.v355.min.js"}}"></script>
<script src="{{asset "graph.js"}}"></script>
<script src="{{asset "index.js"}}"></script>

<script type="text/javascript">
concourse.pipelineName = {{.PipelineName}};
concourse.teamName = {{.TeamName}};

var node = document.getElementById("elm-app");
var app = Elm.PipelinePage.embed(node, {
  teamName: {{.TeamName}},
  pipelineName: {{.PipelineName}}
});

var svg = createPipelineSvg(d3.select(".pipeline-graph"))

topBar.ports.groupsChanged.subscribe(function(groups) {
  concourse.groups = {}
  for (var i in groups) {
    concourse.groups[groups[i]] = true
  }

  if (concourse.redraw !== undefined) {
    concourse.redraw();
  }
});

topBar.ports.setViewingPipeline.send(true);

app.ports.renderPipeline.subscribe(function (values) {
  var jobs = values[0];
  var resources = values[1];
  draw(svg, jobs, resources);
  app.ports.renderFinished.send(true);
})

</script>
{{end}}
