{{define "title"}}History - Concourse{{end}}

{{define "body"}}
<div id="resource-header">
  <a class="title" href="/">&lt;</a>

  <h1>{{.Resource.Name}} history</h1>
</div>

<table id="version-history">
  <colgroup>
     <col span="1" style="width: 15%;">
     <col span="1" style="width: 35%;">
     <col span="1" style="width: 35%;">
  </colgroup>
  <thead>
    <tr>
      <th>metadata</th>
      <th>inputs to</th>
      <th>outputs of</th>
    </tr>
  </thead>
  <tbody>
    {{range .History}}
    <tr>
      <td>
        <div class="build-source">
          <div class="resource-header">
            <h3>version</h3>

            <dl class="version">
              {{range $name, $val := .VersionedResource.Version}}
              <dt>{{$name}}</dt>
                <dd>{{$val}}</dd>
              {{end}}
            </dl>

            <div style="clear: both"></div>
          </div>

          <dl class="build-metadata">
            {{range .VersionedResource.Metadata}}
            <dt>{{.Name}}</dt>
              <dd>{{.Value}}</dd>
            {{end}}
          </dl>
        </div>
      </td>
      <td>
        <table class="jobs">
          {{range .InputsTo}}
          {{$job := .JobName}}
          <tr>
            <td class="name"><h3>{{.JobName}}</h3></td>
            <td>
              <ul class="builds-list">
                {{range .Builds}}
                <li class="{{.Status}}"><a href="{{url "GetBuild" $job .}}">#{{.Name}}</a></li>
                {{end}}
              </ul>
            </td>
          </tr>
          {{end}}
        </table>
      </td>
      <td>
        <table class="jobs">
          {{range .OutputsOf}}
          {{$job := .JobName}}
          <tr>
            <td class="name"><h3>{{.JobName}}</h3></td>
            <td>
              <ul class="builds-list">
                {{range .Builds}}
                <li class="{{.Status}}"><a href="{{url "GetBuild" $job .}}">#{{.Name}}</a></li>
                {{end}}
              </ul>
            </td>
          </tr>
          {{end}}
        </table>
      </td>
    </tr>
    {{end}}
  </tbody>
</table>
{{end}}
