<div class="code-step">
  <div class="window-buttons"></div>
  <div class="window-buttons"></div>
  <div class="window-buttons"></div>

  <div class="window-frame">
    {{.Content | render}}
  </div>
</div>
