<!DOCTYPE html>
<html>
  <head>
    {{template "header.tmpl" .}}

    <link type="text/css" rel="stylesheet" href="css/docs.css">
    <link type="text/css" rel="stylesheet" href="css/downloads.css">
    
    <script type="text/javascript" src="js/sticky.js"></script>
    <script type="text/javascript" src="js/downloads.js"></script>
  </head>
  <body class="split_sections toc">
    <div id="everything">
      {{template "docs-header.tmpl" .}}
      <div id="middle">
        <div id="page">
          <div id="content" class="full-width">
            <div class="content-spacing">
              <div class="section">
                {{range .Children}}
                {{template "release.tmpl" .}}
                {{end}}
              </div>
            </div>
          </div>
        </div>
      </div>
      {{template "footer.tmpl" .}}
    </div>
  </body>
</html>
