<div class="talk">
  <div class="talk-info">
    <h2 class="talk-header">{{.Partial "Link" | render}}</h2>
    <div class="talk-author">by {{.Partial "Author" | render}}</div>
    <div class="talk-description">{{.Content | render}}</div>
  </div>
  <div class="talk-links">
    <div class="talk-thumbnail">
      {{.Partial "Thumb" | render}}
      {{with .Partial "SlidesLink"}}
        <span class="talk-slides-link">{{. | render}}</span>
      {{end}}
    </div>
  </div>
</div>
