@base00: #1A252F;
@base01: #273747;
@base02: #34495E;
@base03: #5D6D7E;
@base04: #BDC3C7;
@base05: #E6E7E8;
@base06: #f5f5f5;
@base07: #ECF0F1; /* light grey (pending) */
@base08: #E74C3C; /* red */
@base09: #E67E22; /* orange */
@base0A: #F1C40F; /* yellow */
@base0B: #2ECC71; /* green */
@base0C: #1ABC9C; /* cyan */
@base0D: #3498DB; /* blue */
@base0E: #9B59B6; /* purple */
@base0F: #8F4B2D; /* brown */
@base0G: #3D4A58; /* 17 color palettes are 1 better than 16 */
@theme: "concourse";
