@base00: #1E1D1D;
@base01: #2A2929;
@base02: #3D3C3C;
@base03: #504B4B;
@base04: #868585;
@base05: #E6E7E8;
@base06: #f5f5f5;
@base07: #ECF0F1; /* light grey (pending) */
@base08: #E74C3C; /* red */
@base09: #E67E22; /* orange */
@base0A: #F1C40F; /* yellow */
@base0B: #2ECC71; /* green */
@base0C: #1ABC9C; /* cyan */
@base0D: #3498DB; /* blue */
@base0E: #9B59B6; /* purple */
@base0F: #8F4B2D; /* brown */
@base0G: #3D4A58; /* 17 color palettes are 1 better than 16 */

@white: #ffffff;
@amber-primary: #F5A623;
@amber-secondary: #D58808;
@blue-primary: #4A90E2;
@blue-secondary: #2D76CC;
@brown-primary: #8B572A;
@brown-secondary: #6A401C;
@grey-primary: #9B9B9B;
@grey-secondary: #7A7373;
@green-primary: #11C560;
@green-secondary: #419867;
@red-primary: #ED4B35;
@red-secondary: #BD3826;

@theme: "concourse";
