// dashboard.less

@scale: 0.6;

.dashboard {
  .dashboard-content {
    padding: 64px 0 30px 30px;
  }

  .pending   { background: @grey-primary; &:hover { background: @grey-secondary }}
  .started   { background: @grey-secondary; }
  .no-builds { background: @grey-secondary; }
  .succeeded { background: @green-primary; &:hover { background: @green-secondary }}
  .failed    { background: @red-primary; &:hover { background: @red-secondary }}
  .errored   { background: @amber-primary; &:hover { background: @amber-secondary }}
  .aborted   { background: @brown-primary; &:hover { background: @brown-secondary }}
  .paused    { background: @blue-primary; &:hover { background: @blue-secondary }}

  .running { background-size: 500% 100%; }
  .no-builds.running { .running-animation(@grey-primary,  @grey-secondary); }
  .succeeded.running { .running-animation(@green-primary, @green-secondary); }
  .failed.running    { .running-animation(@red-primary,   @red-secondary); }
  .errored.running   { .running-animation(@amber-primary, @amber-secondary); }
  .aborted.running   { .running-animation(@brown-primary, @brown-secondary); }

  .pipeline-grid {
    float: none;
    display: flex;
    padding: 20px 36px 10px;
    width: 200px;
    height: 120px;
  }

  .pipeline-grid-tall {
    height: 364px;
  }

  .pipeline-grid-wide {
    width: 502px;
  }

  .pipeline-grid-super-tall {
    height: 608px;
  }

  .pipeline-grid-super-wide {
    width: 804px;
  }

  .pipeline-grid >* {
    align-items: initial;
  }

  .parallel-grid {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .serial-grid {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
  }

  .node {
    flex-grow: 1;
    margin: (4px * @scale);
    font-size: 0;
    display: flex;

    a {
      flex-grow: 1;
      padding: 0;
      margin: 0;
    }
  }

  .build-duration {
    display: inline-block;
    vertical-align: middle;
    font-size: (30px * @scale);
    margin-left: (16px * @scale);
  }

  .dashboard-team-group {
    overflow: hidden;
  }

  .dashboard-team-name {
    background: @base02;
    color: @base04;
    font-size: (30px * @scale);
    padding-top: (55px * @scale);
    padding-bottom: (25px * @scale);
    z-index: 2;
    opacity: 0.9;
    &.no-results {
      text-align: center;
    }
  }

  .dashboard-pipeline {
    display: inline-block;
    margin-bottom: (50px * @scale);
    margin-right: (50px * @scale);

    .dashboard-pipeline-header {
      border-bottom: 2px solid @base02;

      &:hover {
        background: @base00;
      }
    }

    .dashboard-resource-error {
      position: absolute;
      top: 0;
      right: 0;
      width: 0;
      height: 0;
      border-top: 30px solid @base09;
      border-left: 30px solid transparent;
    }

    .dashboard-pipeline-banner {
      background-color: @grey-primary;
      background-size: 200% 100%;
      height: (14px * @scale);
    }

    .dashboard-pipeline-content {
      display: flex;
      flex-direction: column;
      background: @base01;
      position: relative;
    }

    .dashboard-pipeline-footer {
      text-align: center;
      margin-bottom: (27px * @scale);
    }
  }

  .dashboard-paused {
    .dashboard-pipeline-banner {
      background-color: @blue-primary;
    }

    .dashboard-pipeline-icon {
      background-image: url('images/ic_pause_blue.svg');
    }

    .build-duration {
      color: @blue-primary;
    }
  }
  .dashboard-status-running {
    &.dashboard-running {
      .dashboard-pipeline-banner {
        .running-animation(@grey-primary, @grey-secondary);
      }
    }
    .build-duration {
      color: @grey-primary;
    }
  }

  .dashboard-status-pending {
    .dashboard-pipeline-icon {
      min-width: 12px;
      background-image: url('images/ic_pending_grey.svg');
    }

    &.dashboard-running {
      .dashboard-pipeline-banner {
        .running-animation(@grey-primary, @base01);
      }
    }
    .build-duration {
      color: @grey-primary;
    }
  }

  .dashboard-status-failed {
    .dashboard-pipeline-banner {
      background-color: @red-primary;
    }

    .dashboard-pipeline-icon {
      background-image: url('images/ic_failing_red.svg');
    }

    &.dashboard-running {
      .dashboard-pipeline-banner {
        .running-animation(@red-primary, @base01);
      }
    }
    .build-duration {
      color: @red-primary;
    }
  }

  .dashboard-status-aborted {
    .dashboard-pipeline-banner {
      background-color: @brown-primary;
    }

    .dashboard-pipeline-icon {
      background-image: url('images/ic_aborted_brown.svg');
    }

    &.dashboard-running {
      .dashboard-pipeline-banner {
        .running-animation(@brown-primary, @base01);
      }
    }
    .build-duration {
      color: @brown-primary;
    }
  }

  .dashboard-status-succeeded {
    .dashboard-pipeline-banner {
      background-color: @green-primary;
    }

    .dashboard-pipeline-icon {
      background-image: url('images/ic_running_green.svg');
    }

    &.dashboard-running {
      .dashboard-pipeline-banner {
        .running-animation(@green-primary, @base01);
      }
    }
    .build-duration {
      color: @green-primary;
    }
  }

  .dashboard-status-errored {
    .dashboard-pipeline-banner {
      background-color: @amber-primary;
    }

    .dashboard-pipeline-icon {
      background-image: url('images/ic_error_orange.svg');
    }

    &.dashboard-running {
      .dashboard-pipeline-banner {
        .running-animation(@amber-primary, @base01);
      }
    }
    .build-duration {
      color: @amber-primary;
    }
  }

  .dashboard-high-density {
    .toggle-high-density {
      color: @base04;
    }

    .dashboard-pipeline-icon {
      width: 35px;

      &.hd-off {
        background-image: url('images/ic_hd_off.svg');
        background-size: contain;
      }

      &.hd-on {
        background-image: url('images/ic_hd_on.svg');
        background-size: contain;
      }
    }

  }
}

.dashboard-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: @base00;
  text-align: right;
  color: @base04;
  font-size: 10px;
  z-index: 10;
  height: 64px;
  line-height: 64px;

  .dashboard-legend {
    float: left;
    letter-spacing: 0.2em;
    margin-left: 30px;

    & > div {
      display: inline;
      text-transform: uppercase;
      font-size: 14px;
      margin-right: 30px;
    }

    .dashboard-running .dashboard-pipeline-icon {
      background-image: url('images/ic_running_legend.svg');
      background-position: center center;
      width: 30px;
    }
  }

  .dashboard-pipeline-icon {
    position: initial;
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px 2px 0;
  }

  .concourse-version {
    display: inline-block;
    margin-right: 30px;
    font-size: 1.2em;
  }

  .concourse-cli {
    display: inline-block;
    margin-right: 20px;
    font-size: 1.2em;

    .fa {
      margin-right: 10px;
      font-size: 1.4em;
      color: @base04;

      &:hover {
        color: @white;
      }
    }
  }
}


@media (max-width : 1440px) {
  .dashboard-footer {
    height: unset;
    line-height: 35px;
    text-align: left;

    .dashboard-legend {
      float: none;
      margin-top: 22px;

      & > div {
        width: 111px;
      }

      .dashboard-status-separator, .dashboard-high-density {
        width: auto;
      }
    }

    .concourse-info {
      margin-left: 34px;
      margin-bottom: 22px;
    }
  }
}

@media (max-width : 812px) {
  .dashboard .dashboard-content {
    padding-top: 0px;
  }

  .dashboard-footer {
    position: inherit;
    display: block;

    .dashboard-legend {
      margin-top: 0;
      padding-top: 22px;

      .dashboard-running .dashboard-pipeline-icon {
        width: 20px;
      }

      .dashboard-status-separator {
        display: none;
      }
    }

    .concourse-info {
      margin-bottom: 0;
      padding-bottom: 22px;
    }
  }
}

.dashboard-pipeline-icon {
  display: inline-block;
  vertical-align: middle;
  background-size: contain;
  min-width: 20px;
  height: 20px;
  background-repeat: no-repeat;
}

.dashboard-pipeline-name {
  color: @white;
  text-align: center;
  font-size: (34px * @scale);
  margin: 0 auto;
  padding: (17px * @scale);
  width: (300px * @scale);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &:hover {
    direction: rtl;
  }
}

[data-tooltip] {
  position: relative;
}

[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  top: ~"calc(50% - 15px)";
  pointer-events: none;
}

[data-tooltip]:before {
  position: absolute;
  left: 100%;
  padding: 6px 15px 6px 6px;
  background-color: black;
  content: attr(data-tooltip);
  font-size: 13px;
  white-space: nowrap;
}

[data-tooltip]:after {
  position: absolute;
  left: ~"calc(100% - 15px)";
  width: 0;
  border-right: 15px solid black;
  border-right: 15px solid black;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  z-index: 1;
}
