.dashboard {
  padding: 45px 25px 0 45px;
}

.dashboard-team-pipelines {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-bottom: 55px;
}

.dashboard-team-name {
  color: @base07;
  border-top: 1px solid @base07;
  padding-top: 8px;
  font-size: 15px;
  margin-bottom: 40px;
  margin-right: 20px;
}

.dashboard-pipeline {
  border-top: 3px solid @base07;
  display: flex;
  flex-basis: 300px;
  height: 70px;
  margin-bottom: 20px;
  margin-right: 20px;

  &.dashboard-paused {
    border-top-color: @base0D;

    .dashboard-pipeline-icon {
      background-image: url('images/ic_pause_blue.svg');
    }
  }

  &.dashboard-status-pending {
    border-top-color: @base07;

    .dashboard-pipeline-icon {
      background-image: url('images/ic_pause_grey.svg');
    }
  }

  &.dashboard-status-failed {
    border-top-color: @base08;

    .dashboard-pipeline-icon {
      background-image: url('images/ic_failing_red.svg');
      background-size: 20px 18px;
    }
  }

  &.dashboard-status-aborted {
    border-top-color: @base0F;

    .dashboard-pipeline-icon {
      background-image: url('images/ic_aborted_brown.svg');
    }
  }

  &.dashboard-status-succeeded {
    border-top-color: @base0B;

    .dashboard-pipeline-icon {
      background-image: url('images/ic_running_green.svg');
      background-size: 20px 19px;
    }
  }

  &.dashboard-status-errored {
    border-top-color: @base09;

    .dashboard-pipeline-icon {
      background-image: url('images/ic_error_orange.svg');
    }
  }
}

.dashboard-pipeline-icon {
  flex-basis: 20px;
  height: 20px;
  margin: auto 0 auto 25px;
  background-repeat: no-repeat;
}

.dashboard-pipeline-name {
  font-size: 18px;
  margin: auto 15px;
}
