.pipeline-grid {
  padding: 20px;
  padding-bottom: 10px; // account for node margins
  float: left;

  > * {
    align-items: flex-start;
  }

  * {
    box-sizing: border-box;
  }

  .node {
    text-align: center;
    display: flex; /* this does interesting but maybe good things? */
    flex-grow: 1;

    a {
      flex-grow: 1;
      line-height: 30px;
      white-space: nowrap;
      // width: 150px;
      padding: 0 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      // padding: 0 5px;
      margin-bottom: 10px;
      // font-size: 14px;
      // vertical-align: top;
      display: inline-block;
      font-weight: bold;
      font-size: 14px;
    }
  }

  .input a {
    text-align: left;
  }

  .output {
    color: @base0E !important;
  }

  .pipeline-table {
    padding: 20px;
    border-spacing: 0;

    tr {
      vertical-align: top;
    }

    td {
      padding: 0;
    }
  }

  .spacer {
    height: 30px;
  }

  .parallel-grid {
    display: flex;
    flex-direction: column;
    // border: 1px solid red;
    flex-grow: 1;
    justify-content: flex-start;
  }

  .serial-grid {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    // border: 1px solid green;
    justify-content: flex-start;
  }

  .input, .output {
    a {
      // max-height: 30px;
      background: @base00;
      font-weight: normal;
      color: @base05;
      font-size: 12px;
    }
  }

  .output {
    text-align: right;
    flex-grow: 0;
  }

  .job {
    flex-grow: 0;
  }

  .input:not(.constrained) a {
    text-align: right;
  }

  .input.constrained a {
    background: linear-gradient(to left, @base00, fade(@base00, 33%) 25px, fade(@base00, 33%));
    color: @base04;
  }
}
