@import (reference) "_vars.less";

@sidebarWidth: 300px;

.pipelines {
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 100%;

  width: @sidebarWidth;
  background: @base00;

  overflow: auto;
}

.pipelines li {
  position: relative;
  padding: 0;
  margin: 0;
  text-align: right;
  background: @base00;
  border-bottom: 1px solid @base02;
  line-height: 28px;

  &:hover {
    background: @base01;
  }

  & a {
    display: block;
    padding-right: 10px;
    // right-padding - pause button width - left padding
    width: @sidebarWidth - 10px - 28px - 5px;
    float: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  span.fl {
    position: absolute;
    top: 0px;
    left: 0px;
  }
}
