@font-face {
  font-family: Montserrat;
  font-weight: 300;
  src: url("/fonts/Montserrat-Light.ttf");
}

@font-face {
  font-family: Montserrat;
  font-weight: 500;
  src: url("/fonts/Montserrat-Regular.ttf");
}

/* @font-face { */
/*   font-family: Montserrat; */
/*   src: url("/fonts/Montserrat-Regular.ttf"); */
/* } */
