.literate-segment .prose p {
  margin: 0 0 1em;
}

@media (min-width: 1525px) {
  .literate-segment {
    display: table;
    margin-bottom: 40px;
  }

  .literate-entry {
    display: table-row;
  }

  .literate-segment .prose {
    display: table-cell;
    padding-right: 25px;
    min-width: 700px;
    vertical-align: top;
  }

  .literate-segment .prose p {
    max-width: 700px;
  }

  .literate-segment .code {
    display: table-cell;
    min-width: 525px;
    vertical-align: top;
  }

  .literate-segment .code .highlight pre {
    margin: 0 !important;
  }
}
