body {
  font-family: 'Open Sans', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4,
.h1, .h2, .h3, .h4 {
  font-family: 'Montserrat', arial;
  font-weight: 300;
  letter-spacing: -.1rem;
}

h5, h6, .h5, .h6, .nav, .bottom-nav {
  font-family: 'Montserrat', arial;
  font-weight: 500;
}

h6, .h6 {
  font-size: 1.5rem;
}

ul, ol {
  padding: 0;
  margin: 0;
}

/*Top Introduction section _________________*/

img.responsive-image {
  max-width: 100%;
  height: auto;
}


/*bootstrap nav to toggle mobile menu open*/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.navbar {
  border-width: 0 !important;
}

.navbar-nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navbar-header {
  margin: 0 20px;
}

@media (min-width: 920px) {
  .navbar-nav {
    text-align: center;
  }

  .navbar-collapse.collapse {
    display: block;
  }

  .navbar-nav > li {
    display: inline-block;
  }
}

.navbar-nav > li > a {
  padding: 10px 15px;
  display: block;
}

.navbar-brand {
  display: inline-block;
  line-height: 60px;
  position: relative;
  top: -2px;
}

.navbar-brand img {
  height: 30px;
  vertical-align: middle;
}

.navbar-nav .home-button {
  position: relative;
  top: 4px;
  margin: 0 4px;
}

.navbar-nav .navbar-link {
  min-width: 172px;
  font-size: 15px;
}

.navbar-link a {
  color: white;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.navbar-nav .navbar-link a {
  opacity: 0.75;
  border-bottom: 2px solid transparent;
  display: inline-block !important;
  padding: 15px 0 13px !important;
}

.navbar-link a:hover {
  color: white !important;
  opacity: 1;
}

.navbar-link a.active {
  opacity: 1;
  border-bottom-color: white;
}

.navbar-link .fa {
  font-size: 16px;
  position: relative;
  left: -5px;
}

@media (min-width: 920px) {
  .navbar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
    margin-left: -15px;
  }
}

.collapse {
  display: none;
}
.collapse.in {
  display: block;
  overflow-y: auto;
}
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-property: height, visibility;
  -o-transition-property: height, visibility;
     transition-property: height, visibility;
  -webkit-transition-duration: 0.35s;
  -o-transition-duration: 0.35s;
     transition-duration: 0.35s;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
     transition-timing-function: ease;
}

.navbar-toggle {
  position: relative;
  float: right;
  background: transparent;
  border: 0;
  height: 60px;
}
.navbar-toggle:focus {
  outline: 0;
}
.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background-color: #ffffff;
}
.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}

@media (min-width: 920px) {
  .navbar-toggle, .navbar-brand {
    display: none;
  }
  .container-fluid > .navbar-collapse {
    border-bottom: none;
  }
}

@media (max-width: 919px) {
  .navbar-nav > .home-button {
    display: none;
  }

  .navbar-collapse {
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    margin: 0 20px;
  }
}

.top-intro .button {
  margin: 3px;
}

.sponsorship {
  padding-bottom: 1em;
  color: white;
}

.sponsorship a {
  text-decoration: underline;
}

.top-intro {
  background-image: -webkit-linear-gradient(bottom, #48C9D0 0%, #3498DB 100%);
  background-image: -o-linear-gradient(bottom, #48C9D0 0%, #3498DB 100%);
  background-image: linear-gradient(to top, #48C9D0 0%, #3498DB 100%);
  position: relative;
}

.white-text {
  color: white;
}

.txt-c {
  text-align: center;
}

.intro-slogan {
  margin-bottom: 25px;
}

.pipe-pic {
  position: relative;
  bottom: 0;
  vertical-align: middle;
}

/*Value Prop section __________________________*/

.value-pics img {
  max-height: 290px;

}

.value-prop-title {
  color: #379ADC;
}

.value-prop-a {
  padding: 45px 0px 45px 0px;
}

.value-prop-a p, .value-prop-b p {
  font-size: 2rem;
  font-weight: 300;
}

.value-prop-b-flex {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
}

.value-prop-b {
  background-color: #F5F6F7;
  padding: 45px 0px 45px 0px;
}

/*Getting started ________________*/

.get-started {
  background-color: #5C6D7F;
  padding: 45px 0px 45px 0px;
  color: #eefcff;
}

.get-started p {
  font-family: 'Montserrat', arial;
  font-weight: 500;
}

.get-started a {
  color: #fff;
  text-decoration: underline;
  -webkit-transition: all 0.3s;
}

.get-started a:hover {
  color: #379ADC;
}

.started-title {
  text-align: center;
}

.coffee {
  position: absolute;
  bottom: -17px;
  left: 37px;
  max-width: 49px;
  z-index: 101;
  vertical-align: middle;

}

.coffee-icon img {
  width: 26px;
  max-width: 26px;
  margin-top: 7px;
  margin-left: 4px;
  left: 50%;
  top: 50%
}

li {
  list-style: none;
  /*margin-bottom: 30px;*/
  position: relative;
}

.time-circle {
  white-space: pre;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 3px solid #C5CED3;
  background-color: #5C6D7F;
  color: #C5CED3;
  text-align: center;
  line-height: 17px;
  position: relative;
  margin-left: -66px;
  margin-bottom: -53px;
}

.line {
  position: relative;
  text-align: center;
  overflow: hidden;
  top: 12px;
}

.line-path {
  position: relative;
  left: -1%;
  width: 50%
}

.time {
  margin-top: 4px;
}

.code-step {
  padding: 10px;
  background-color: #34495E;
  border-radius: 5px;
  margin-bottom: 20px;
}

.window-frame {
  margin-top: 10px;
  border-top: 2px solid rgba(255, 255, 255, .20);
  z-index: 100;
}

.window-buttons {
  width: 10px;
  height: 10px;
  top: 2px;
  left: 13px;
  margin: 0 6px 0 0;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, .20);
  position: relative;
  display: inline-block;
}

.steps {
  margin-left: 37px;
  z-index: 99;
}

.code-comment {
  color: #8D8E8E;
}

.code-lines {
  padding: 1rem 1.5rem;
  margin: 1em 0;
}

.code-lines pre {
  padding: 0;
  margin: 0;
}

.code-lines .code-line pre:before {
  content: "$ ";
  float: left;
  color: #379ADC;
  font-size: 16px;
}

pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  padding: 10px 15px;
  font-weight: bold;
  font-size: 16px;
}

code {
  font-family: monospace;
  font-weight: bold;
}

.no-touch {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.greenc {
  color: #1DCE6D;
}

.bluec {
  color: #3381E8;
}

.redc {
  color: #AC4142;
}

.tealc {
  color: #379ADC;
}

.purplec {
  color: #A463DF;
}

/*fly away section ________________________*/

.come-fly {
  position: relative;
  background-color: #F5F6F7;
  z-index: 100
}

.fly_away {
  position: relative;
  top: -107px;
  left: 49%;
}

.fly-tagline {
  text-align: center;
  margin-top: -45px;
}

.fly-tagline .h4 {
  color: #379ADC;
  font-family: 'Montserrat', arial;
  font-weight: 300;
  letter-spacing: -.1rem;
}

.oss {
  margin: 35px 0 -16px 0;
  color: #607580;
  font-size: 14px;
}

/*slack section*/

.slack-section {
  position: relative;
  background-color: #ffffff;
  z-index: 101;
}

.slack-section .h6 {
  font-family: 'Montserrat', arial;
  font-weight: 300;
  text-align: center;
  margin: 45px 0px 45px 0px;
}

.slack-section img {
  position: relative;
  top: 10px;
  display: inline-block;
  margin-right: 10px;
}

/*bottom nav*/

.bottom-nav {
  background-image: -webkit-linear-gradient(#45C3D1 0%, #3498DB 100%);
  background-image: -o-linear-gradient(#45C3D1 0%, #3498DB 100%);
  background-image: linear-gradient(#45C3D1 0%, #3498DB 100%);
  position: relative;
  z-index: 101;
}

.bottom-nav-list {
  display: flex;
  justify-content: space-between;
  line-height: 0;
  padding: 0;
  margin-top: 0;
}

.bottom-nav-list-item li{
  margin-bottom: 30px;
}

.conc-div {
  line-height: .5;
  text-align: center;
  overflow: hidden;
}

.logo-div {
  max-width: 39px;
}

.logo-div1 {
  margin-top: 30px;
  padding-bottom: 1em;
  display: inline-block;
  position: relative;
}

.logo-div1:before, .logo-div1:after {
  content: "";
  position: absolute;
  height: 19px;
  border-bottom: 1px solid rgba(255,255,255,.40);
  top: 0;
  width: 45vw;
}

.logo-div1:before {
  right: 100%;
  margin-right: 15px;
}

.logo-div1:after {
  left: 100%;
  margin-left: 15px;
}

/*list types _________________*/

.list-unstyled {
  margin: 0;
  list-style: none;
  padding: 0;
}


/*Buttons ___________________*/

.button {
  line-height: 50px;
  padding: 0 30px;
  display: inline-block;
}

.button-primary {
  border-radius: 4px;
  font-size: 2rem;
  font-family: 'Open Sans', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  height: 50px;
  line-height: 50px;
  margin: 25px 0px 25px 0px;
}

.button.button-light:hover,
button.button-light:hover,
input[type="submit"].button-light:hover,
input[type="reset"].button-light:hover,
input[type="button"].button-light:hover,
.button.button-light:focus,
button.button-light:focus,
input[type="submit"].button-light:focus,
input[type="reset"].button-light:focus,
input[type="button"].button-light:hover,
input[type="button"].button-light:focus {
  color: #FFF;
  background-color: #1EAEDB;
  border: 2px solid #ffffff !important;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
transition: all 0.3s; }

.button-blue {
  color: white;
  background-color: #4DA9E1;
}

.button-light {
  color: white;
  border: 2px solid rgba(255,255,255,.60);
  background-color: rgba(255,255,255,.20) !important;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.contribute-btn {
  margin-left: 6px;
}

/*Links _______________________*/

a {
  color: #379ADC;
  text-decoration: none;
}

a:hover {
  color: #5C6D7F;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.light-link {
  text-decoration: underline;
  color: #ffffff;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.light-link:hover {
  color: #379ADC;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

/*Media queries _________________*/

@media (max-width: 800px) {
  .bottom-nav-list {
    display: block;
  }
  .bottom-nav-list-item {
    margin-top: 35px;
  }
}

@media (min-width: 750px) {
  .center-columns {
    display: flex;
    align-items: center;
  }
}

@media (max-width: 550px) {
  .value-prop-b-flex {
    display: flex;
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
}

/*proper alignment for the getting started line without airplane _____________*/

@media (max-width: 850px) {
  .fly-tagline {
    margin-top: 0;
  }
  .navbar-item {
    margin-right: 15px;
  }

  @media (max-width: 490px) {
    .time {
      margin-top: 2px;
    }
    .time-circle {
      margin-bottom: -40px;
      margin-left: -60px;
      width: 40px;
      height: 40px;
      font-size: .9em;
    }
    .coffee {
      bottom: -28px;
    }
    .coffee-icon img {
      width: 22px
    }
  }
}


