.talk {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.talk-info {
  order: 1;
  padding: 10px;
  padding-right: 0;
  flex-grow: 1;
}

.talk-links {
  order: 0;
  padding: 10px;
  padding-left: 0;
}

.talk-thumbnail {
  border: 7px solid #D5D8DC;
  border-radius: 5px;
}

.talk-thumbnail img {
  width: 200px;
}

/* specificity */
#content .talk-header {
  margin: 0;
  padding-bottom: 3px;
  border-bottom: none;
}

.talk-author {
  font-size: 14px;
  color: #686868;
}

.talk-thumbnail {
  display: block;
  line-height: 0;
  position: relative;
}

.talk-thumbnail p {
  margin-bottom: 0;
}

.talk-slides-link a {
  position: absolute;
  top: 0;
  right: 0;
  background: #D5D8DC;
  border-bottom-left-radius: 5px;
  color: #424242;
  padding: 6px;
  padding-top: 0;
  padding-right: 0;
  line-height: 14px;
  font-size: 14px;
}

@media (max-width: 650px) {
  .talk {
    flex-direction: column;
    margin-bottom: 30px;
  }

  .talk-thumbnail img {
    width: 100%;
  }

  .talk-links, .talk-info {
    padding: 0;
  }

  .talk-links {
    margin-bottom: 10px;
  }
}
