* {
  box-sizing: border-box;
}
html,
body {
  min-height: 100vh;
}
body {
  font-family: 'Barlow', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #2a2929;
  background: white;
  width: 100%;
  display: grid;
  grid-template-rows: 80px auto;
  grid-template-columns: 2fr 5fr 3fr;
  grid-template-areas: "logo primary-nav search" "secondary-nav content aside";
}
a {
  color: #2d76cc;
}
a:hover {
  color: #4a90e2;
}
a:visited {
  color: #7a7373;
}
a:hover {
  text-decoration: underline;
}
code,
pre {
  font-family: 'Iosevka', monospace;
}
pre {
  background: #efeeee;
  color: #3d3c3c;
  padding: 0.5rem;
  overflow-x: auto;
  /* kind of a hack tbh but happens to make various code samples fit better
   * narrow spaces like the examples pane and front page */
  font-size: 0.9em;
}
p,
pre,
.highlight,
ul,
ol,
dl,
iframe {
  margin: 0 0 1.5em;
}
dd,
li {
  margin-bottom: 1em;
}
p:first-child,
pre:first-child {
  margin-top: 0;
}
p:last-child,
pre:last-child {
  margin-bottom: 0;
}
li:last-child,
dd:last-child {
  margin-bottom: 0;
}
dt code,
p code {
  font-size: 0.9em;
}
code code {
  font-size: 1em;
}
table,
tr,
td {
  padding: 0;
  border-collapse: collapse;
}
h1 code,
h2 code,
h3 code {
  font-weight: 600;
  font-size: 0.9em;
}
nav ul {
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Slab', serif;
  font-weight: normal;
}
h1 {
  font-size: 32px;
  margin-top: 0;
  font-weight: 500;
}
h2 {
  font-size: 24px;
  font-weight: 500;
}
h3 {
  font-size: 20px;
}
h2,
h3 {
  margin: 2rem 0 0.8rem;
}
.top-logo {
  grid-area: logo;
}
.top-nav {
  grid-area: primary-nav;
}
.top-search {
  grid-area: search;
}
.page-nav {
  grid-area: secondary-nav;
}
.page-content {
  grid-area: content;
}
.page-aside {
  grid-area: aside;
}
.top-logo,
.top-nav,
.top-search {
  background: #3398dc;
  color: white;
  font-family: 'Roboto Slab', serif;
  line-height: 80px;
}
.page-nav,
.page-partial {
  padding: 30px;
}
.page-partial h2 {
  margin-top: 0;
}
.page-content {
  background: white;
  padding: 70px;
  position: relative;
  min-width: 300px;
}
.top-nav {
  position: relative;
  white-space: nowrap;
}
.top-logo a {
  color: white;
  margin: 0;
  font-size: 22px;
  padding: 0 50px 0 80px;
  line-height: 80px;
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  position: relative;
}
.top-logo img {
  width: 40px;
  height: 40px;
  vertical-align: middle;
  position: absolute;
  top: 18px;
  left: 17px;
}
.top-logo a:visited {
  color: white;
}
.top-link {
  color: white;
  font-size: 16px;
  text-transform: lowercase;
  line-height: 80px;
  display: inline-block;
  padding: 0 25px;
}
.top-link,
.top-link:visited {
  color: white;
  text-decoration: none;
}
.top-link:hover {
  color: white;
  text-decoration: underline;
}
.top-link.active {
  background: white;
  color: #2a2929;
  text-decoration: underline;
}
.icon-link {
  background-repeat: no-repeat;
  background-size: 22px 22px;
  background-position: 20px 30px;
  padding-left: 54px;
}
/* shoutout to hashicorp who i've pretty much copied this from */
.download-link {
  background-image: url("../images/icons/arrow-down-box.svg");
}
.github-link {
  background-image: url("../images/icons/github-box.svg");
}
.page-nav {
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
}
.page-content ul,
.page-content ol,
.page-content dl {
  padding-left: 30px;
}
.page-content code {
  background: rgba(30, 29, 29, 0.07);
  padding: 3px;
  border-radius: 5px;
}
.page-content pre code {
  background: transparent;
  padding: 0;
  border-radius: 0;
}
.page-content code code,
.definition-thumb code {
  border: 0;
  padding: 0;
}
.page-content a code {
  color: #3d3c3c;
}
.page-content a:hover code {
  color: #5a5555;
}
.page-content a:hover code strong {
  text-decoration: underline;
}
.page-content table {
  margin-bottom: 1em;
}
.page-content tr:first-child {
  font-family: 'Roboto Slab', serif;
  font-weight: 500;
  border-bottom: 2px solid black;
}
.page-content td {
  padding: 0.3em 1em 0.3em 0;
}
.page-content td:last-child {
  padding-right: 0;
}
body {
  background: #f6f5f5;
}
li {
  margin-bottom: 0;
}
@media (max-width: 925px) {
  body {
    grid-template-columns: 5fr 2fr;
    grid-template-rows: 80px 60px auto;
    grid-template-areas: "logo search" "primary-nav primary-nav" "content content";
  }
  .page-nav {
    display: none;
  }
}
.cooked img {
  max-width: 100% !important;
  width: auto;
  height: auto;
}
.cooked img.emoji {
  width: 20px;
  height: 20px;
}
a:visited {
  color: #2d76cc;
}
#main {
  max-width: 1200px;
  grid-area: content;
  background: white;
}
.page-nav {
  background: #2a2929;
  color: #7a7373;
}
.docked .d-header {
  background: #3398dc;
}
.docked .d-header .title {
  display: initial;
}
.docked .d-header .d-header-icons .d-icon {
  color: white;
}
.wrap {
  max-width: none;
  padding: 0;
}
#main-outlet {
  padding: 60px;
}
#topic-title {
  padding-top: 0;
}
.d-header {
  box-shadow: none;
  height: auto;
  margin-bottom: 0;
}
.d-header > .wrap {
  width: 100%;
  margin: 0;
}
.d-header #site-logo {
  width: 64px;
  height: 64px;
}
.d-header .extra-info-wrapper {
  padding-left: 0;
}
.d-header .category-name {
  color: white;
}
.d-header .d-header-icons {
  height: 40px;
  margin: 10px;
}
.d-header .d-header-icons .icon {
  margin-left: 8px;
  padding: 0;
}
.d-header .d-header-icons img.avatar {
  width: 32px;
  height: 32px;
}
.d-header .d-header-icons .svg-icon {
  width: 24px;
  height: 24px;
}
.d-header .title {
  display: none;
}
.d-header .title a,
.d-header .topic-link {
  color: white;
}
.d-header .title a:visited,
.d-header .topic-link:visited {
  color: white;
}
.d-header .extra-info:not(.two-rows) {
  min-height: initial;
}
.btn,
.nav-pills > li > a {
  padding: 8px;
  font-size: 18px;
}
h2,
h3 {
  margin: 0;
  margin-bottom: 0.5rem;
}
.select-kit {
  border: 0 !important;
}
.select-kit .select-kit-header {
  padding: 8px;
  font-size: 18px;
  height: 34px;
  transition: none;
}
.select-kit .select-kit-header.is-focused {
  box-shadow: none !important;
}
.topic-post .row {
  display: flex;
  flex-direction: row;
}
.topic-avatar {
  float: none;
  width: 45px;
}
.post-notice,
.topic-body {
  float: none;
  max-width: none;
  flex-grow: 1;
}
.topic-body {
  width: auto;
}
.post-notice {
  background: #ffffdc;
  margin-bottom: 8px;
  border-top: 0;
}
.badge-wrapper.box {
  font-size: 14px;
  line-height: 20px;
  height: 20px;
  padding: 0 5px 22px !important;
}
.timeline-container {
  margin-top: 50px;
  width: 100px;
  margin-left: -192px !important;
  text-align: right;
  color: #9b9b9b;
}
.timeline-container .btn {
  background: #3d3c3c;
}
.timeline-container .btn,
.timeline-container .btn .d-icon {
  color: #9b9b9b;
}
.timeline-container .btn:hover {
  background: white;
  color: #3d3c3c;
}
.timeline-container .btn:hover,
.timeline-container .btn:hover .d-icon {
  color: #3d3c3c;
}
.timeline-container .select-kit-body,
.timeline-container .popup-menu {
  text-align: left;
}
.timeline-container .select-kit-body {
  margin-left: 8px;
}
.timeline-container .topic-timeline {
  margin-left: 0 !important;
}
.timeline-container .topic-timeline .timeline-scrollarea {
  border-left: 0;
  border-right: 1px solid #7a7373;
  margin-left: 0;
  margin-right: 0.5em;
}
.timeline-container .topic-timeline .timeline-scroller {
  flex-direction: row-reverse;
  margin-left: 0;
  margin-right: -0.19em;
}
.timeline-container .topic-timeline .timeline-scroller-content {
  padding-left: 0;
  padding-right: 1em;
}
.timeline-container .topic-timeline .timeline-handle {
  background-color: #9b9b9b;
}
.timeline-container .topic-timeline .timeline-footer-controls {
  justify-content: flex-end;
}
.timeline-container .topic-timeline .timeline-controls button,
.timeline-container .topic-timeline .timeline-footer-controls button {
  margin-right: 0;
  margin-left: 8px;
  width: 34px;
  height: 34px;
}
.timeline-container .topic-timeline .timeline-controls button.is-focused,
.timeline-container .topic-timeline .timeline-footer-controls button.is-focused {
  outline: none;
}
.timeline-container .topic-timeline .timeline-controls .popup-menu,
.timeline-container .topic-timeline .timeline-footer-controls .popup-menu {
  margin-left: 50px;
  width: 250px;
}
.timeline-container .topic-timeline .timeline-controls .popup-menu button,
.timeline-container .topic-timeline .timeline-footer-controls .popup-menu button {
  margin-left: 0;
  width: 100%;
}
.timeline-container .topic-timeline .timeline-controls .popup-menu .btn,
.timeline-container .topic-timeline .timeline-footer-controls .popup-menu .btn {
  background: #f6f5f5;
}
.timeline-container .topic-timeline .timeline-controls .popup-menu .btn,
.timeline-container .topic-timeline .timeline-footer-controls .popup-menu .btn,
.timeline-container .topic-timeline .timeline-controls .popup-menu .btn .d-icon,
.timeline-container .topic-timeline .timeline-footer-controls .popup-menu .btn .d-icon {
  color: #3d3c3c;
}
.timeline-container .topic-timeline .timeline-controls .popup-menu .btn:hover,
.timeline-container .topic-timeline .timeline-footer-controls .popup-menu .btn:hover {
  background: #e6e5e5;
  color: #3d3c3c;
}
.timeline-container .topic-timeline .timeline-controls .popup-menu .btn:hover,
.timeline-container .topic-timeline .timeline-footer-controls .popup-menu .btn:hover,
.timeline-container .topic-timeline .timeline-controls .popup-menu .btn:hover .d-icon,
.timeline-container .topic-timeline .timeline-footer-controls .popup-menu .btn:hover .d-icon {
  color: #3d3c3c;
}
.btn,
.btn .d-icon {
  transition: none;
}
body:before,
body:after,
#svg-sprites {
  display: none;
}
