[Unit]
Description=Concourse Beacon for %i

[Service]
ExecStart=/usr/sbin/concourse-beacon %i
Restart=always
StartLimitInterval=0

[Install]
WantedBy=multi-user.target
