<div class="code-step">
  <div class="window-buttons"></div>
  <div class="window-buttons"></div>
  <div class="window-buttons"></div>

  <div class="window-frame">
    <div class="code-lines">
      {{range .Content}}
      <div class="code-line">{{. | render}}</div>
      {{end}}
    </div>
  </div>
</div>
