<div class="definition">
  <div class="definition-thumb">
    {{.Partial "Targets" | render}}
    {{.Partial "Thumb" | render}}
  </div>

  <div class="definition-content">
    {{.Content | render}}
  </div>
</div>
