<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{{.Title.String}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="css/normalize.css">
    <link type="text/css" rel="stylesheet" href="css/skeleton.css">
    <link type="text/css" rel="stylesheet" href="css/main.css">
    <link type="text/css" rel="stylesheet" href="css/fonts.css">
    <link type="text/css" rel="stylesheet" href="css/highlight.css">
    <link type="text/css" rel="stylesheet" href="css/docs.css">
    <link type="text/css" rel="stylesheet" href="css/resources-table.css">
    <link type="text/css" rel="stylesheet" href="css/literate.css">
    <link type="text/css" rel="stylesheet" href="css/flex-pipeline-image.css">
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700">
    <script async="" src="//www.google-analytics.com/analytics.js"></script>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
  </head>
  <body class="split_sections toc">
    <div id="everything">
      {{template "docs-header.tmpl" .}}
      <div id="middle">
        <div id="page">
          <div id="sidebar">
            <div class="sidebar-spacing">
              <div class="single-page-link">
                <a href="single-page.html">view all docs on one page</a>
              </div>

              {{template "sidebar-toc.tmpl" walkContext . .Top}}
            </div>
          </div>
          <div id="content">
            <div class="content-spacing">
              {{template "section.tmpl" .}}
            </div>
          </div>
        </div>
      </div>
      {{template "footer.tmpl" .}}
    </div>
  </body>
</html>
