      <div id="header" class="u-full-width top-intro docs-header">
        <a name="page-top"></a>
        <div class="navbar navbar-default navbar-static-top">
          <div class="container-fluid">
            <div class="navbar-header page-scroll">
              <button class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
              <a href="#page-top" class="navbar-brand"><img src="images/logo_mobile_top.svg"></a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li class="navbar-link"><a href="introduction.html"{{if eq .PrimaryTag.Name "introduction"}} class="active"{{end}}>Documentation</a></li>
                <li class="navbar-link"><a href="community.html"{{if eq .PrimaryTag.Name "community"}} class="active"{{end}}>Community</a></li>
                <li class="home-button">
                  <a href="index.html" class="active"><img src="images/concourse_white.svg" width="174px" data_pin_nopin="true"></a>
                </li>
                <li class="navbar-link"><a href="downloads.html"{{if eq .PrimaryTag.Name "downloads"}} class="active"{{end}}>Downloads</a></li>
                <li class="navbar-link"><a href="https://github.com/concourse/concourse">GitHub</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
