      <div id="footer" class="u-full-width bottom-nav">
        <div class="container">
          <div class="conc-div">
            <div class="txt-c logo-div1"><img src="images/logo-white.png" alt="" class="logo-div"></div>
          </div>
          <ul class="bottom-nav-list">
            <li class="bottom-nav-list-item">
              <h5 class="navbar-link"><a href="index.html">Concourse</a></h5>
              <ul class="list-unstyled">
                <li class="navbar-link"><a href="https://github.com/orgs/concourse/people">Team</a></li>
              </ul>
              <ul class="list-unstyled">
                <li class="navbar-link"><a href="https://twitter.com/concourseci">Twitter</a></li>
              </ul>
            </li>
            <li class="bottom-nav-list-item">
              <h5 class="navbar-link"><a href="introduction.html">Documentation</a></h5>
              <ul class="list-unstyled">
                <li class="navbar-link"><a href="setting-up.html">Setting Up</a></li>
                <li class="navbar-link"><a href="using-concourse.html">Using Concourse</a></li>
                <li class="navbar-link"><a href="single-page.html">View on one page</a></li>
              </ul>
            </li>
            <li class="bottom-nav-list-item">
              <h5 class="navbar-link"><a href="community.html">Community</a></h5>
              <ul class="list-unstyled">
                <li class="navbar-link"><a href="https://github.com/concourse">GitHub</a></li>
                <li class="navbar-link"><a href="community.html#slack-blurb">Slack</a></li>
                <li class="navbar-link"><a href="community.html#security-blurb">Security</a></li>
                <li class="navbar-link"><a href="talks.html">Talks</a></li>
              </ul>
            </li>
            <li class="bottom-nav-list-item">
              <h5 class="navbar-link"><a href="downloads.html">Downloads</a></h5>
              <ul class="list-unstyled">
                <li class="navbar-link"><a href="downloads.html">Release Notes</a></li>
                <li class="navbar-link"><a href="https://github.com/concourse/concourse/releases">Concourse Binaries</a></li>
                <li class="navbar-link"><a href="http://bosh.io/releases/github.com/concourse/concourse?all=1">BOSH Releases</a></li>
              </ul>
            </li>
          </ul>
          <div class="sponsorship navbar-link">Sponsored by <a href="http://pivotal.io/">Pivotal Software, Inc.</a> - <a href="trademarks.html">Trademark Guidelines</a></div>
        </div>
      </div>
