<!DOCTYPE html>
<html>
  <head>
    {{template "header.tmpl" .}}
    
    <link type="text/css" rel="stylesheet" href="css/docs.css">
    <link type="text/css" rel="stylesheet" href="css/resources-table.css">
    <link type="text/css" rel="stylesheet" href="css/literate.css">
    <link type="text/css" rel="stylesheet" href="css/community.css">
    <link type="text/css" rel="stylesheet" href="css/talks.css">
    <link type="text/css" rel="stylesheet" href="css/trademarks.css">

  </head>
  <body class="split_sections toc">
    <div id="everything">
      {{template "docs-header.tmpl" .}}
      <div id="middle">
        <div id="page">
          <div id="content" class="full-width">
            <div class="content-spacing">
              {{template "section.tmpl" .}}
            </div>
          </div>
        </div>
      </div>
      {{template "footer.tmpl" .}}
    </div>
  </body>
</html>
