<div class="u-full-width get-started">
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <h3 class="started-title">{{.Partial "Title" | render}}</h3>

        {{.Content | render}}
      </div>
    </div>
  </div>
</div>
