<a href="https://github.com/{{.Partial "Owner" | render}}/{{.Partial "Repo" | render}}/pull/{{.Content | render}}">{{.Partial "Owner" | render}}/{{.Partial "Repo" | render}}#{{.Content | render}}</a>
