<!DOCTYPE html>
<html>
  <head>
    {{template "head.tmpl" .}}
  </head>
  <body class="index">
    <div class="page-top">
      {{template "top.tmpl" .}}
    </div>

    <div class="top-banner">
      <p class="banner-text">
        ✨ The 2020 Concourse CI Community Survey is now live! ✨ <a href="https://airtable.com/shr4tyAb5ApbX3VV1">Click here to learn more and share your experience</a>.
      </p>
    </div>

    <div class="splash">
      <div class="splash-content">
        {{.Partial "Splash" | render}}
      </div>
    </div>

    <div class="page-body">
      <div class="page-content">
        {{template "section.tmpl" .}}
      </div>
    </div>
  </body>
</html>
