<!DOCTYPE html>
<html>
  <head>
    {{template "head.tmpl" .}}
  </head>
  <body>
    {{template "top.tmpl" .}}

    <div class="page-nav">
      {{template "sidebar.tmpl" .}}
    </div>

    <div class="page-aside">
      {{- if .Partial "RightSide" }}
      <div class="page-partial">
        {{.Partial "RightSide" | render}}
      </div>
      {{ end -}}
    </div>

    <div class="page-content">
      {{. | render}}

      <nav class="prev-next">
      {{with .Prev}}
        <div class="prev">
          prev:

          {{if eq .PageDepth 0}}
          <span class="section-number">{{.Number}}</span>
          {{end}}

          <a href="{{.PrimaryTag | url}}">{{.Title | render}}</a>
        </div>
      {{end}}

      {{with .Next}}
        <div class="next">
          next:

          {{if eq .PageDepth 0}}
          <span class="section-number">{{.Number}}</span>
          {{end}}

          <a href="{{.PrimaryTag | url}}">{{.Title | render}}</a>
        </div>
      {{end}}
      </nav>
    </div>

    <ul class="improve-docs">
      <li><img src="images/github.svg" /> <a href="https://github.com/concourse/docs">help improve this site</a></li>
      <li><img src="images/booklit.svg" /> powered by <a href="https://vito.github.io/booklit">Booklit</a></li>
    </ul>
  </body>
</html>
