<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{{.Title.String}}</title>
    <link rel="stylesheet" type="text/css" href="css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="css/pipeline.css" />
    <link rel="stylesheet" type="text/css" href="css/iosevka.css" />
    <link rel="stylesheet" type="text/css" href="css/booklit.css" />
    <link rel="stylesheet" type="text/css" href="css/highlight.css" />
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    <link href="https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700|Saira+Condensed:400,500,600,700" rel="stylesheet" />
  </head>
  <body{{if .Partial "Examples"}} class="with-examples"{{end}}>
    <div id="top">
      <div class="header">
        <h1><a href="/">Concourse</a></h1>

        <nav>
          <a href="https://concoursetutorial.com">tutorial</a>
          <a href="https://discuss.concourse.ci">community</a>
          <a href="downloads.html">version 3.9.0</a>
        </nav>
      </div>
    </div>
    <div id="content">
      <div class="side">
        {{template "sidebar.tmpl" .}}
      </div>
      <div class="page{{if not .Parent}} top{{end}}">
        {{. | render}}
      </div>
      {{if .Partial "Examples"}}
      <div class="examples">
        <h2>Examples</h2>

        {{.Partial "Examples" | render}}
      </div>
      {{end}}
    </div>
    <script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-60508041-1', 'auto');
ga('send', 'pageview');
    </script>
  </body>
</html>
