<div class="platform">
  <div class="platform-image">
    {{.Partial "Image" | render}}
  </div>

  <div class="platform-content">
    <h3>{{.Partial "Name" | render}}</h3>

    {{.Content | render}}
  </div>

  {{range .Partial "Note"}}
  <div class="platform-note">
    {{. | render}}
  </div>
  {{end}}
</div>
