<div class="quickstart">
  <input id="quickstart" type="checkbox" class="toggle" />
  <label for="quickstart" class="quickstart-label">Quick Start</label>

  <div class="quickstart-content">
    {{.Content | render}}
  </div>
</div>
