<div class="release-note">
  <a class="anchor" name="{{.Partial "Target" | render}}" href="#{{.Partial "Target" | render}}"></a>

  <div class="note-tags">
    {{.Partial "Tags" | render}}
  </div>

  <div class="note-content">
    {{.Content | render}}
  </div>
</div>
