{{$downloadURL := "https://github.com/concourse/concourse/releases/download"}}

<div class="section release{{if eq (.Partial "CurrentVersion") (.Partial "Version")}} latest{{end}}">
  <div class="version-header">
    <h3>
      <a name="{{.PrimaryTag.Name}}"></a>
      <a href="{{.PrimaryTag | url}}">{{.Title | render}}</a>
    </h3>
    {{.Partial "ReleaseDate" | render}}
  </div>

  <div class="notes">
    {{.Body | render}}
  </div>
</div>
