{{$version := .Partial "Version" | render}}
{{$downloadURL := printf "https://github.com/concourse/concourse/releases/download/v%s" $version}}

<div class="section release">
  <div class="release-header">
    <h2>
      <a name="{{.PrimaryTag.Name}}"></a>
      <a href="{{.PrimaryTag | url}}">{{.Title | render}}</a>
    </h2>

    {{.Partial "ReleaseDate" | render}}
  </div>

  <div class="release-notes">
    {{.Body | render}}
  </div>

  <div class="release-downloads">
    <h3>Download</h3>

    <div class="download-items">
      <div class="download-item">
        <h4><span class="download-icon"></span><code>concourse</code></h4>

        <ul>
          <li><a href="{{$downloadURL}}/concourse_linux_amd64"
                  onclick="gtag('event', 'click',{
                    event_category: 'linux-downloads',
                    event_label: '{{$version}}/concourse_linux_amd64'});">Linux</a></li>
          <li><a href="{{$downloadURL}}/concourse_windows_amd64"
                  onclick="gtag('event', 'click',{
                    event_category: 'windows-downloads',
                    event_label: '{{$version}}/concourse_windows_amd64'});">Windows</a></li>
          <li><a href="{{$downloadURL}}/concourse_darwin_amd64"
                  onclick="gtag('event', 'click', {
                    event_category: 'darwin-downloads',
                    event_label: '{{$version}}/concourse_darwin_amd64'});">OS X</a></li>
        </ul>
      </div>

      <div class="download-item">
        <h4><span class="download-icon"></span><code>fly</code></h4>

        <ul>
          <li><a href="{{$downloadURL}}/fly_linux_amd64"
                  onclick="gtag('event', 'click',{
                    event_category: 'linux-downloads',
                    event_label: '{{$version}}/fly_linux_amd64'});">Linux</a></li>
          <li><a href="{{$downloadURL}}/fly_windows_amd64"
                  onclick="gtag('event', 'click',{
                    event_category: 'windows-downloads',
                    event_label: '{{$version}}/fly_windows_amd64'});">Windows</a></li>
          <li><a href="{{$downloadURL}}/fly_darwin_amd64"
                  onclick="gtag('event', 'click',{
                    event_category: 'darwin-downloads',
                    event_label: '{{$version}}/fly_darwin_amd64'});">OS X</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
