<tr class="rfc">
  <td><a class="rfc-number" href="{{.Partial "ProposalURL" | render}}">RFC {{.Partial "Number" | render}}</a>{{.Partial "Questions" | render}}</td>
  <td>{{.Content | render}}</td>
  <td>{{.Partial "Status" | render}}{{.Partial "Reviews" | render}}</td>
  <td>{{.Partial "Reactions" | render}}</td>
</tr>
