<div class="schema">
  <h2 class="schema-header"><a class="anchor-target" name="{{.Partial "Anchor" | render}}" href="#{{.Partial "Anchor" | render}}"></a><code>{{.Partial "Name" | render}}</code> schema</h2>

  {{.Content | render}}
</div>
