<div class="section" id="section_{{.PrimaryTag.Name}}">
  {{if .Parent}}
  <h{{headerDepth .}} class="section-header"><a name="{{.PrimaryTag.Name}}"></a>
    {{- if eq .PageDepth 0 -}}
      <span class="section-number">{{.Number}} </span>
    {{- end -}}
    {{- .Title | render -}}
  </h{{headerDepth .}}>
  {{end}}

  {{.Body | render}}

  {{if not .SplitSections}}
    {{range .Children}}
      {{. | render}}
    {{end}}
  {{end}}
</div>
