{{define "section-link"}}
  <a href="{{.Section.PrimaryTag | url}}" {{if eq .Section.PrimaryTag.Name .Current.PrimaryTag.Name}} class="self"{{else if .Section.Contains .Current}} class="active"{{end}}>
    {{- .Section.Title | render -}}
  </a>
{{end}}

{{define "context"}}
  {{if gt .Section.Depth 1}}
  {{template "context" walkContext .Current .Section.Parent}}
  {{end}}

  {{if and .Section.Children (not .Section.OmitChildrenFromTableOfContents)}}
  <div class="context">
    <nav>
      <div class="top">
        {{if eq .Section.PageDepth 0}}
        <span class="section-number">{{.Section.Number}}</span>
        {{end}}
        {{template "section-link" .}}
      </div>

      <div class="children">
        <table>
        {{range .Section.Children}}
          <tr>
            {{if eq .PageDepth 0}}
              <td class="number-cell" align="right">{{.Number}}&nbsp;</td>
            {{else}}
              <td class="number-cell" align="left"></td>
            {{end}}
            <td class="title-cell">{{template "section-link" walkContext $.Current .}}</td>
          </tr>
        {{end}}
        </table>
      </div>
    </nav>
  </div>
  {{end}}
{{end}}

{{define "anchors"}}
  {{if not .SplitSections}}
    {{range .Children}}
      {{if .HasAnchors}}
        <tr>
          <td class="number-cell" align="left">{{.Number}}&nbsp;</td>
          <td class="title-cell">{{template "section-link" walkContext $ .}}</td>
        </tr>
        {{range .AnchorTags}}
          <tr>
            <td class="number-cell"></td>
            <td class="title-cell"><a href="{{. | url}}">{{.Title | render}}</a></td>
          </tr>
        {{end}}
      {{end}}
      {{template "anchors" .}}
    {{end}}
  {{end}}
{{end}}

{{if and .Parent .Parent.Parent}}
{{template "context" walkContext $ .Parent}}
{{else}}
{{template "context" walkContext $ .}}
{{end}}

{{if gt .Depth 1 }}
{{if and .Children (not .OmitChildrenFromTableOfContents)}}
<div class="context">
  <div class="page-toc">
    <nav>
      <div class="top">
        {{if eq .PageDepth 0}}
        <span class="section-number">{{.Number}}</span>
        {{end}}
        {{template "section-link" walkContext $ .}}
      </div>

      {{template "page-toc.tmpl" .}}
    </nav>
  </div>
</div>
{{end}}
{{end}}

{{if .HasAnchors}}
<div class="context">
  <div class="Top">
    On this page:
  </div>

  <div class="children anchors">
    <table>
      {{range .AnchorTags}}
      <tr>
        <td colspan="2" class="title-cell"><a href="{{. | url}}">{{.Title | render}}</a></td>
      </tr>
      {{end}}

      {{template "anchors" .}}
    </table>
  </div>
</div>
{{end}}
