{{define "section-link" -}}
  <a href="{{.Section.PrimaryTag | url}}" {{if eq .Section.PrimaryTag.Name .Current.PrimaryTag.Name}} class="self"{{else if .Section.Contains .Current}} class="active"{{end}}>
    {{- .Section.Title | render -}}
  </a>
{{- end}}

{{define "context"}}
  {{if gt .Section.Depth 1}}
  {{template "context" walkContext .Current .Section.Parent}}
  {{end}}

  {{if and .Section.Children (not .Section.OmitChildrenFromTableOfContents)}}
  <div class="context">
    <nav>
      <div class="top">
        {{if eq .Section.PageDepth 0}}<span class="section-number">{{.Section.Number}}</span>{{end -}}
        {{- template "section-link" .}}
      </div>

      <div class="children">
        <table>
        {{range .Section.Children}}
          <tr>
            <td class="number-cell">{{.Number}}</td>
            <td class="title-cell">{{template "section-link" walkContext $.Current .}}</td>
          </tr>
        {{end}}
        </table>
      </div>
    </nav>
  </div>
  {{end}}
{{end}}

{{define "anchors"}}
  {{if not .SplitSections}}
    {{range .Children}}
      <tr>
        <td class="number-cell">{{.Number}}</td>
        <td class="title-cell">{{template "section-link" walkContext $ .}}</td>
      </tr>
      {{range .AnchorTags}}
        <tr>
          <td class="number-cell"><code>#</code></td>
          <td class="title-cell"><a href="{{. | url}}">{{.Title | render}}</a></td>
        </tr>
      {{end}}
      {{template "anchors" .}}
    {{end}}
  {{end}}
{{end}}

{{template "context" walkContext $ .}}

{{if .HasAnchors}}
<div class="context">
  <div class="Top">
    On this page:
  </div>

  <div class="children anchors">
    <table>
      {{range .AnchorTags}}
      <tr>
        <td class="number-cell"><code>#</code></td>
        <td class="title-cell"><a href="{{. | url}}">{{.Title | render}}</a></td>
      </tr>
      {{end}}

      {{template "anchors" .}}
    </table>
  </div>
</div>
{{end}}
