<a href="/" class="logo"></a>

{{define "section-link"}}
  <a href="{{.Section.PrimaryTag | url}}" {{if eq .Section.PrimaryTag.Name .Current.PrimaryTag.Name}} class="self"{{end}}>
    {{- .Section.Title | stripAux | render -}}
  </a>
{{end}}

{{define "context"}}
  {{if .Section.Parent}}
  {{template "context" walkContext .Current .Section.Parent}}
  {{end}}

  {{if and .Section.Children (not .Section.OmitChildrenFromTableOfContents)}}
  <div class="context">
    <nav>
      <div class="top">
        {{template "section-link" .}}
      </div>

      <input type="checkbox" class="toggle" {{if .Section.IsOrHasChild .Current}}checked{{end}} />
      <span class="arrow"></span>
      <div class="children">
        <table>
        {{range .Section.Children}}
          <tr>
            <td class="number-cell" align="right">{{.Number}}&nbsp;</td>
            <td class="title-cell">{{template "section-link" walkContext $.Current .}}</td>
          </tr>
        {{end}}
        </table>
      </div>
    </nav>
  </div>
  {{end}}
{{end}}

{{template "context" walkContext $ .}}

{{define "anchors"}}
  {{if not .SplitSections}}
    {{range .Children}}
      {{if .HasAnchors}}
        <tr>
          <td class="number-cell" align="left">{{.Number}}&nbsp;</td>
          <td class="title-cell">{{template "section-link" walkContext $ .}}</td>
        </tr>
        {{range .AnchorTags}}
          <tr>
            <td class="number-cell"></td>
            <td class="title-cell"><a href="{{. | url}}">{{.Display | render}}</a></td>
          </tr>
        {{end}}
      {{end}}
      {{template "anchors" .}}
    {{end}}
  {{end}}
{{end}}

{{if .HasAnchors}}
<div class="context">
  <div class="top">
    On this page:
  </div>

  <nav>
    <div class="children">
      <table>
        {{range .AnchorTags}}
        <tr>
          <td colspan="2" class="title-cell"><a href="{{. | url}}">{{.Display | render}}</a></td>
        </tr>
        {{end}}

        {{template "anchors" .}}
      </table>
    </div>
  </nav>
</div>
{{end}}
