<!DOCTYPE html>
<html>
  <head>
    {{template "header.tmpl" .}}

    <link type="text/css" rel="stylesheet" href="css/docs.css">
    <link type="text/css" rel="stylesheet" href="css/resources-table.css">
    <link type="text/css" rel="stylesheet" href="css/literate.css">
    <link type="text/css" rel="stylesheet" href="css/flex-pipeline-image.css">
    <link type="text/css" rel="stylesheet" href="css/single-page.css">
    
    <script type="text/javascript" src="js/single-page.js"></script>
  </head>
  <body>
    <div id="everything">
      <div id="middle">
        <div id="page">
          <div id="sidebar">
            <div class="sidebar-spacing">
              {{template "sidebar-toc.tmpl" walkContext . .Top}}
            </div>
          </div>
          <div id="content">
            <div class="content-spacing">
              {{range .Children}}
                {{template "section.tmpl" .}}
              {{end}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
