<div class="u-full-width slack-section">
  <div class="container">
    <div class="row">
      <div class="twelve columns center-columns">
        {{.Content | render}}
      </div>
    </div>
  </div>
</div>
