<div class="splash-intro">
  <div class="side-by-side">
    <div class="segment example">
      <h2>{{.Partial "Intro" | render}}</h2>
    </div>

    <div class="segment">
      {{.Content | render}}
    </div>
  </div>
</div>
