<div class="steps">
  <div class="time-circle"><div class="time">{{.Partial "Duration" | render}}</div><span class="line">{{.Partial "Line" | render}}</span></div>

  <h4 class="step-header">{{.Partial "Title" | render}}</h4>

  {{.Content | render}}
</div>
