{{if and .Children (not .OmitChildrenFromTableOfContents)}}
<ol class="toc">
{{range .Children}}
  <li>
    {{- if eq .PageDepth 0 -}}
      <span class="section-number">{{.Number}} </span>
    {{- end -}}
    <a href="{{.PrimaryTag | url}}">{{- .Title | render -}}</a>

    {{template "toc.tmpl" .}}
  </li>
{{end}}
</ol>
{{end}}
