{{if and .Children (not .OmitChildrenFromTableOfContents)}}
<ol{{if or .SplitSections (not .Parent)}} id="table-of-contents" class="toc"{{end}}>
{{range .Children}}
  <li>
    {{- if and .Parent (lt .Depth 3) -}}
      <span class="section-number">{{.Number}} </span>
    {{- end -}}
    <a href="{{.PrimaryTag | url}}">{{- .Title | render -}}</a>

    {{template "toc.tmpl" .}}
  </li>
{{end}}
</ol>
{{end}}
