<div class="top-logo">
  <a href="/">Concourse</a>
</div>

<nav class="top-nav">
  {{range .Top.Children}}
  <a href="{{.PrimaryTag | url}}"{{if .Contains $}} class="active"{{end}}>{{.Title | stripAux | render}}</a>
  {{end}}

  <a class="icon-link download-link" href="https://github.com/concourse/concourse/releases/latest">download</a>
  <a class="icon-link github-link" href="https://github.com/concourse/concourse">github</a>
</nav>

<div class="top-search">
  <div id="search"></div>
</div>

<script type="text/javascript">
  Elm.Main.init({
    node: document.getElementById('search')
  });
</script>
