<div class="u-full-width value-prop-b">
  <div class="container">
    <div class="row">
      <div class="twelve columns value-prop-b-flex center-columns">
        <div class="six columns">
          <span class="value-pics">{{.Partial "Image" | render}}</span>
        </div>

        <div class="six columns">
          <h4 class="value-prop-title">{{.Partial "Title" | render}}</h4>

          {{.Content | render}}
        </div>
      </div>
    </div>
  </div>
</div>
