<div class="container value-props">
  <div class="row">
    <div class="twelve columns value-prop-a center-columns">
      <div class="six columns">
        <h4 class="value-prop-title">{{.Partial "Title" | render}}</h4>

        {{.Content | render}}
      </div>

      <div class="six columns">
        <span class="value-pics">{{.Partial "Image" | render}}</span>
      </div>
    </div>
  </div>
</div>
