<!DOCTYPE html>
<html>
  <head>
    {{template "head.tmpl" .}}
  </head>
  <body class="wide">
    {{template "top.tmpl" .}}

    <div class="page-content wide">
      {{template "section.tmpl" .}}
    </div>
  </body>
</html>
