<!DOCTYPE html>
<html>
  <head>
    {{template "head.tmpl" .}}
  </head>
  <body>
    <div id="top">
      {{template "top.tmpl" .}}
    </div>
    <div id="content">
      <div class="page wide">
        {{template "section.tmpl" .}}
      </div>
    </div>
  </body>
</html>
