{{define "title"}}{{.Job.Name}} #{{.Build.Name}} - Concourse{{end}}

{{define "body"}}
<div id="page-header" class="{{.Build.Status}}">
  <div class="build-header">
    <form class="trigger-build" method="post" action="{{url "TriggerBuild" .Job}}">
      <button><i class="fa fa-plus-circle"></i></button>
    </form>

    {{if .Abortable}}
    <form class="abort-build" method="post" action="{{url "AbortBuild" .Build}}">
      <button><i class="fa fa-times-circle"></i></button>
    </form>
    {{end}}

    <h1>{{.Job.Name}} #{{.Build.Name}}</h1>

    <dl class="build-times"></dl>
  </div>

  <ul id="builds">
    {{$job := .Job}}
    {{$currentName := .Build.Name}}
    {{/* omitting whitespace for display-block style */}}
    {{range .Builds}}<li class="{{.Status}}{{if eq .Name $currentName}} current{{end}}"><a href="{{url "GetBuild" $job .}}">{{.Name}}</a></li>{{end}}
  </ul>
</div>

<div id="build-body">
  <div id="build-requires-auth">
    <form method="get" action="{{url "LogIn"}}">
      <input type="submit" value="log in to view" />
      <input type="hidden" name="redirect-to" value="{{url "GetBuild" .Job .Build}}" />
    </form>
  </div>
  <div id="build-logs"></div>
</div>

<script src="{{url "Public" "build.js"}}"></script>
<script type="text/javascript">
  streamLog({{url "BuildEvents" .Build | js}})
</script>
{{end}}
