{{define "title"}}{{.Job.Name}} #{{.Build.Name}} - Concourse{{end}}

{{define "body"}}
<div id="page-header" class="{{.Build.Status}}">
  <div class="build-header js-build" data-build-id="{{.Build.ID}}">
    <form class="trigger-build" method="post" action="{{url "TriggerBuild" .PipelineName .Job}}">
      <button class="build-action fr"><i class="fa fa-plus-circle"></i></button>
    </form>

    {{if .Build.Abortable}}
    <span class="build-action build-action-abort fr js-abortBuild"><i class="fa fa-times-circle"></i></span>
    {{end}}

    <h1><a href="{{url "GetJob" .PipelineName .Job}}">{{.Job.Name}} #{{.Build.Name}}</a></h1>

    <dl class="build-times"></dl>
  </div>

  <ul id="builds">
    {{$job := .Job}}
    {{$currentName := .Build.Name}}
    {{/* omitting whitespace for display-block style */}}
    {{range .Builds}}<li class="{{.Status}}{{if eq .Name $currentName}} current{{end}}"><a href="{{url "GetBuild" $job .}}">{{.Name}}</a></li>{{end}}
  </ul>
</div>

<div id="build-body">
  <div id="build-requires-auth">
    <form method="get" action="{{url "LogIn"}}">
      <input type="submit" value="log in to view" />
      <input type="hidden" name="redirect-to" value="{{url "GetBuild" .Job .Build}}" />
    </form>
  </div>
  <div id="build-logs"></div>
</div>

<script src="{{asset "build.js"}}"></script>
<script type="text/javascript">
  {{range .Inputs}}
  preloadInput(
    {{.Name}},
    {{.FirstOccurrence}},
    {
      {{range $name, $val := .Version}}
        "{{$name}}": "{{$val}}",
      {{end}}
    },
    [
      {{range .Metadata}}
        { name: "{{.Name}}", value: "{{.Value}}" },
      {{end}}
    ]
  );
  {{end}}

  streamLog({{url "BuildEvents" .Build | js}}, {{.Build.Status | js}})
</script>
<script src="{{asset "jquery-2.1.1.min.js"}}"></script>
<script src="{{asset "concourse.js"}}"></script>
{{end}}
