{{define "title"}}{{.Job.Name}} - Concourse{{end}}

{{define "body"}}
<div class="js-job" data-endpoint="pipelines/{{.PipelineName}}/jobs/{{.Job.Name}}">
  <div id="page-header" class="{{if .CurrentBuild}}{{.CurrentBuild.Status}}{{else}}no-builds{{end}}">
    <div class="build-header">
      {{if .DBJob.Paused}}
        <span class="btn-pause btn-large fl enabled js-pauseUnpause"><i class="fa fa-fw fa-play"></i></span>
      {{else}}
        <span class="btn-pause btn-large fl disabled js-pauseUnpause"><i class="fa fa-fw fa-pause"></i></span>
      {{end}}
      <form class="trigger-build" method="post" action="{{url "TriggerBuild" .PipelineName .Job}}">
        <button class="build-action fr"><i class="fa fa-plus-circle"></i></button>
      </form>

      <h1>{{.Job.Name}}</h1>
    </div>
  </div>

  <div id="build-body">
    <div class="section">
      <h2>builds</h2>

      {{if .PaginationData.HasPagination}}
      <div class="pagination mbs clearfix">
        {{if .PaginationData.HasNewer}}
        <div class="fl">
          <a href="{{url "GetJob" .PipelineName .Job .PaginationData true}}" class="pagination-handle pagination-handle-flush"><i class="fa fa-arrow-left"></i></a>
        </div>
        {{end}}
        {{if .PaginationData.HasOlder}}
        <div class="fr">
          <a href="{{url "GetJob" .PipelineName .Job .PaginationData false}}" class="pagination-handle pagination-handle-flush"><i class="fa fa-arrow-right"></i></a>
        </div>
        {{end}}
      </div>
      {{end}}

      <ul class="jobs-builds-list builds-list">
        {{$job := .Job}}
        {{range .Builds}}
        <li class="js-build" data-status="{{.Build.Status}}">
          <a class="{{.Build.Status}}" href="{{url "GetBuild" $job .Build}}">&#35;{{.Build.Name}}</a>

					<div class="pam clearfix">
						<div class="js-build-times build-times mbm" data-start-time="{{.Build.StartTime.Unix}}" data-end-time={{.Build.EndTime.Unix}}></div>

						<div class="inputs mrl" >
							<div class="resource-title pbs"><i class="fa fa-fw fa-arrow-down prs"></i>inputs </div>
							<div class="build-resources">
								{{range .Inputs}}
									<div class="mbs pas resource fl clearfix">
										<div class="resource-name mrm">
											{{.VersionedResource.Resource}}
										</div>
										<div class="resource-version">
											{{range $name, $val := .VersionedResource.Version}}
											{{$name}}: {{$val}}
											{{end}}
										</div>
									</div>
								{{end}}
							</div>
						</div>

						<div class="outputs mrl">
							<div class="resource-title pbs"><i class="fa fa-fw fa-arrow-up prs"></i>outputs</div>
							<div class="build-resources">
								{{range .Outputs}}
									<div class="mbs pas resource fl clearfix">
										<div class="resource-name mrm">
											{{.VersionedResource.Resource}}
										</div>
										<div class="resource-version">
											{{range $name, $val := .VersionedResource.Version}}
											{{$name}}: {{$val}}
											{{end}}
										</div>
									</div>
								{{end}}
							</div>
						</div>
					</div>
        </li>
        {{end}}
      </ul>

      {{if .PaginationData.HasPagination}}
      <div class="pagination mts mbm clearfix">
        {{if .PaginationData.HasNewer}}
        <div class="fl">
          <a href="{{url "GetJob" .PipelineName .Job .PaginationData true}}" class="pagination-handle pagination-handle-flush"><i class="fa fa-arrow-left"></i></a>
        </div>
        {{end}}
        {{if .PaginationData.HasOlder}}
        <div class="fr">
          <a href="{{url "GetJob" .PipelineName .Job .PaginationData false}}" class="pagination-handle pagination-handle-flush"><i class="fa fa-arrow-right"></i></a>
        </div>
        {{end}}
      </div>
      {{end}}
    </div>
  </div>
</div>

<script src="{{asset "jquery-2.1.1.min.js"}}"></script>
<script src="{{asset "moment.min.js"}}"></script>
<script src="{{asset "moment-duration-format.js"}}"></script>
<script src="{{asset "concourse.js"}}"></script>
<script>
  concourse.pipelineName = {{.PipelineName}};
</script>
{{end}}
