<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{template "title" .}}</title>
    <link href="{{asset "main.css"}}" media="all" rel="stylesheet" type="text/css" />
    <link href="{{asset "colors.css"}}" media="all" rel="stylesheet" type="text/css" />
    <link href="{{asset "font-awesome.min.css"}}" media="all" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <nav>
      <ul class="groups"><li class="main"><a href="/"><i class="fa fa-home"></i></a></li>{{range .GroupStates}}<li{{if .Enabled}} class="active"{{end}}><a href="/?groups={{.Name}}">{{.Name}}</a></li>{{end}}</ul>
    </nav>

    <div id="content">
    {{template "body" .}}
    </div>
  </body>
</html>
