<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Concourse</title>
    <link href="{{asset "main.css"}}" media="all" rel="stylesheet" type="text/css" />
    <link id="favicon" rel="icon" type="image/png" href="{{asset "images/favicon.png"}}" />
    <meta name="theme-color" content="#000000" />
    <script src="{{asset "elm.min.js"}}"></script>
  </head>
  <body>
    <div class="content-frame">
      <div id="top-bar-app"></div>

      <div class="bottom">
        <div id="pipelines-nav-app" class="sidebar js-sidebar test"></div>
        <div id="content">
          <div class="display-in-middle">
            <div class="h1">no pipelines configured</div>
            <h3>first, download the CLI tools:</h3>
            <ul class="cli-downloads">
              <li><a href="{{url "DownloadCLI" "darwin" "amd64"}}" aria-label="Download OS X CLI"><i class="fa fa-apple fa-5x"></i></a></li>
              <li><a href="{{url "DownloadCLI" "windows" "amd64"}}" aria-label="Download Windows CLI"><i class="fa fa-windows fa-5x"></i></a></li>
              <li><a href="{{url "DownloadCLI" "linux" "amd64"}}" aria-label="Download Linux CLI"><i class="fa fa-linux fa-5x"></i></a></li>
            </ul>
            <h3>then, use `<a class="ansi-blue-fg" target="_blank" href="https://concourse.ci/fly-set-pipeline.html">fly set-pipeline</a>` to set up your new pipeline</h3>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript">
    Elm.PipelinesNavPage.embed(document.getElementById("pipelines-nav-app"));
    Elm.TopBarPage.embed(document.getElementById("top-bar-app"), {
      pipeline: null,
      queryGroups: [],
      viewingPipeline: false
    });
    </script>
  </body>
</html>
