{{define "title"}}{{.PipelineName}} - Concourse{{end}}

{{define "body"}}
{{if .Elm}}
<div id="elm-app"></div>

<script src="{{asset "fit.min.js"}}"></script>
<script type="text/javascript">
var groups = [];
var groupStates = {{.GroupStates}};
for (var g in groupStates) {
  var group = groupStates[g];
  if (group.Enabled) {
    groups.push(group.Name);
  }
}

var node = document.getElementById("elm-app");
var app = Elm.PipelinePage.embed(node, {
  teamName: {{.TeamName}},
  pipelineName: {{.PipelineName}},
  groups: groups
});

var watcher;

app.ports.fit.subscribe(function() {
  if (watcher !== undefined) {
    watcher.trigger();
    return;
  }

  document.querySelector(".pipeline-grid").style.display = 'block';

  watcher = fit(
    document.querySelector(".pipeline-grid"),
    document.querySelector("#elm-app"),
    {
      watch: true,
      hAlign: fit.CENTER,
      vAlign: fit.CENTER
    }
  );
});
</script>
{{else}}
<div id="pipeline">
  <dl class="legend">
    <dt class="pending"></dt>
      <dd>pending</dd>
    <dt class="started"></dt>
      <dd>started</dd>
    <dt class="succeeded"></dt>
      <dd>succeeded</dd>
    <dt class="failed"></dt>
      <dd>failed</dd>
    <dt class="errored"></dt>
      <dd>errored</dd>
    <dt class="aborted"></dt>
      <dd>aborted</dd>
    <dt class="paused"></dt>
      <dd>paused</dd>
  </dl>
</div>

<table class="lower-right-info">
  <tr>
    <td class="label">cli:</td>
    <td>
      <ul class="cli-downloads">
        <li><a href="{{url "DownloadCLI" "darwin" "amd64"}}" aria-label="Download OS X CLI"><i class="fa fa-apple"></i></a></li>
        <li><a href="{{url "DownloadCLI" "windows" "amd64"}}" aria-label="Download Windows CLI"><i class="fa fa-windows"></i></a></li>
        <li><a href="{{url "DownloadCLI" "linux" "amd64"}}" aria-label="Download Linux CLI"><i class="fa fa-linux"></i></a></li>
      </ul>
    </td>
  </tr>
  <tr>
    <td class="label">version:</td>
    <td><div id="concourse-version">v<span class="number"></span></div></td>
  </tr>
</table>

<script src="{{asset "jquery-2.1.1.min.js"}}"></script>
<script src="{{asset "d3.v355.min.js"}}"></script>
<script src="{{asset "graph.js"}}"></script>
<script src="{{asset "concourse.js"}}"></script>
<script src="{{asset "index.js"}}"></script>

<script>
concourse.pipelineName = {{.PipelineName}};
concourse.teamName = {{.TeamName}};
concourse.groups = {{.Groups}};

topBar.ports.setViewingPipeline.send(true);

$(document).ready(function() {
  renderPipeline();
})
</script>
{{end}}
{{end}}
