{{define "title"}}{{.PipelineName}} - Concourse{{end}}

{{define "body"}}
{{if .Elm}}
<div id="elm-app"></div>

<script type="text/javascript">
var node = document.getElementById("elm-app");
var app = Elm.BetaPipelinePage.embed(node, {
  teamName: {{.TeamName}},
  pipelineName: {{.PipelineName}},
  groups: {{.QueryGroups}}
});
topBar.ports.groupsChanged.subscribe(function(groups) {
  app.ports.setGroups.send(groups);
});
topBar.ports.setViewingPipeline.send(true);
</script>
{{else}}
<svg class="pipeline-graph test" width="100%" height="100%"></svg>
<script src="{{asset "index.js"}}"></script>
<script src="{{asset "d3.v355.min.js"}}"></script>
<script src="{{asset "graph.js"}}"></script>

<div id="elm-app"></div>

<script type="text/javascript">
concourse.pipelineName = {{.PipelineName}};
concourse.teamName = {{.TeamName}};
concourse.groups = {};

var node = document.getElementById("elm-app");
var app = Elm.PipelinePage.embed(node, {
  teamName: {{.TeamName}},
  pipelineName: {{.PipelineName}},
  turbulenceImgSrc: {{asset "images/buckleup.svg"}}
});

var svg = createPipelineSvg(d3.select(".pipeline-graph"))

topBar.ports.groupsChanged.subscribe(function(groups) {
  var changed = false;

  for (var groupName in concourse.groups) {
    if (groups.indexOf(groupName) === -1) {
      changed = true;
      delete concourse.groups[groupName];
    }
  }

  for (var i in groups) {
    if (!concourse.groups[groups[i]]) {
      changed = true;
      concourse.groups[groups[i]] = true;
    }
  }

  if (changed && concourse.redraw !== undefined) {
    concourse.redraw();
  }
});

topBar.ports.setViewingPipeline.send(true);

app.ports.renderPipeline.subscribe(function (values) {
  var jobs = values[0];
  var resources = values[1];
  draw(svg, jobs, resources);
  app.ports.renderFinished.send(true);
})

</script>
{{end}}
{{end}}
