{{define "title"}}History - Concourse{{end}}

{{define "body"}}
<div class="mhm">
  <h1>{{.Resource.Name}}</h1>
</div>

<div class="js-resource" data-endpoint="pipelines/{{.PipelineName}}/resources/{{.Resource.Name}}">
  <div class="resource-check-status mbm">
    <div class="steps">
      <div class="build-step">
        <div class="header">
          {{if .Resource.Paused}}
            <span class="btn-pause fl enabled js-pauseUnpause"><i class="fa fa-fw fa-play"></i></span>
          {{else}}
            <span class="btn-pause fl disabled js-pauseUnpause"><i class="fa fa-fw fa-pause"></i></span>
          {{end}}

          {{if .Resource.FailingToCheck}}
            <h3 class="js-resourceStatusText" data-initial="checking failed">checking failed</h3>
            <i class="fr errored fa fa-fw fa-exclamation-triangle"></i>
          {{else}}
            <h3 class="js-resourceStatusText" data-initial="checking successfully">checking successfully</h3>
            <i class="fr succeeded fa fa-fw fa-check"></i>
          {{end}}
        </div>

        {{if .Resource.FailingToCheck}}
          <div class="step-body">
            <pre>{{.Resource.CheckError}}</pre>
          </div>
        {{end}}
      </div>
    </div>
  </div>
</div>


{{if .PaginationData.HasPagination}}
	<div class="pagination mam clearfix">
		{{if .PaginationData.HasNewer}}
		<div class="fl ">
			<a href="{{url "GetResource" .PipelineName .Resource.Name .PaginationData true}}" class="pagination-handle"><i class="fa fa-arrow-left"></i></a>
		</div>
		{{end}}
		{{if .PaginationData.HasOlder}}
		<div class="fr">
			<a href="{{url "GetResource" .PipelineName .Resource.Name .PaginationData false}}" class="pagination-handle"><i class="fa fa-arrow-right"></i></a>
		</div>
		{{end}}
	</div>
{{end}}

<ul class="list list-collapsable list-enableDisable mhm resource-versions">
  {{$pipelineName := .PipelineName}}
  {{range .History}}
    <li class="list-collapsable-item clearfix {{if .VersionedResource.Enabled}}enabled{{else}}disabled{{end}}">

      <a class="fl btn-power-toggle js-toggleResource fa fa-power-off mrm" href="javascript:;" data-action="{{if .VersionedResource.Enabled}}disable{{else}}enable{{end}}" data-enable-url="{{url "EnableResourceVersion" $pipelineName .VersionedResource}}" data-disable-url="{{url "DisableResourceVersion" $pipelineName .VersionedResource}}"></a>

      <div class="js-expandable list-collapsable-title">
        {{range $name, $val := .VersionedResource.Version}}
        {{$name}} {{$val}}
        {{end}}
      </div>
      <div class="list-collapsable-content w100 clearfix phm pvs">

        <div class="fl prm" style="width:34%">
          <div class="list-collapsable-title">inputs to</div>

          {{range .InputsTo}}
            {{$job := .JobName}}
              <h3 class="man pas ansi-bright-black-bg">{{.JobName}}</h3>
              <ul class="builds-list">
                  {{range .Builds}}
                  <li class="{{.Status}}"><a href="{{url "GetBuild" $job .}}">#{{.Name}}</a></li>
                  {{end}}
                </ul>

          {{end}}
        </div>

        <div class="fl prm" style="width:33%">
          <div class="list-collapsable-title">outputs of</div>
          {{range .OutputsOf}}
          {{$job := .JobName}}
          <h3>{{.JobName}}</h3>

          <ul class="builds-list">
            {{range .Builds}}
            <li class="{{.Status}}"><a href="{{url "GetBuild" $job .}}">#{{.Name}}</a></li>
            {{end}}
          </ul>
          {{end}}

        </div>

        <div class="fl" style="width:33%">
          <div class="list-collapsable-title" style="padding-left:5em;">metadata</div>
          <dl class="build-metadata fr">
            {{range .VersionedResource.Metadata}}
            <dt>{{.Name}}</dt>
              <dd>{{.Value}}</dd>
            {{end}}
          </dl>
        </div>
      </div>
    </li>
  {{end}}
</ul>

{{if .PaginationData.HasPagination}}
	<div class="pagination mam clearfix">
		{{if .PaginationData.HasNewer}}
		<div class="fl pagination-handle">
			<a href="{{url "GetResource" .PipelineName .Resource.Name .PaginationData true}}"><i class="fa fa-arrow-left"></i></a>
		</div>
		{{end}}
		{{if .PaginationData.HasOlder}}
		<div class="fr pagination-handle">
			<a href="{{url "GetResource" .PipelineName .Resource.Name .PaginationData false}}"><i class="fa fa-arrow-right"></i></a>
		</div>
		{{end}}
	</div>
{{end}}





<script src="{{asset "jquery-2.1.1.min.js"}}"></script>
<script src="{{asset "resources.js"}}"></script>
<script src="{{asset "concourse.js"}}"></script>
<script>
  concourse.pipelineName = {{.PipelineName}};
</script>
{{end}}
