{{define "title"}}History - Concourse{{end}}

{{define "body"}}
<div id="page-header">
  <div class="resource-header">
    <a class="back" href="/">&larr;</a>

    <h1>{{.Resource.Name}} history</h1>
  </div>
</div>

<table id="version-history">
  <colgroup>
    <col span="1" style="width: 15%;">
    <col span="1" style="width: 5%;">
    <col span="1" style="width: 40%;">
    <col span="1" style="width: 40%;">
  </colgroup>
  <thead>
    <tr>
      <th>metadata</th>
      <th></th>
      <th>inputs to</th>
      <th>outputs of</th>
    </tr>
  </thead>
  <tbody>
    {{range .History}}
    <tr class="{{if .VersionedResource.Enabled}}enabled{{else}}disabled{{end}}">
      <td>
        <div class="build-source">
          <div class="header">
            <h3>version</h3>

            <dl class="version">
              {{range $name, $val := .VersionedResource.Version}}
              <dt>{{$name}}</dt>
                <dd>{{$val}}</dd>
              {{end}}
            </dl>

            <div style="clear: both"></div>
          </div>

          <dl class="build-metadata">
            {{range .VersionedResource.Metadata}}
            <dt>{{.Name}}</dt>
              <dd>{{.Value}}</dd>
            {{end}}
          </dl>
        </div>
      </td>
      <td>
        <a class="toggle-resource-version" href="javascript:;" data-enable-url="{{url "EnableResourceVersion" .VersionedResource}}" data-disable-url="{{url "DisableResourceVersion" .VersionedResource}}">{{if .VersionedResource.Enabled}}disable{{else}}enable{{end}}</a>
      </td>
      <td>
        <table class="jobs">
          {{range .InputsTo}}
          {{$job := .JobName}}
          <tr>
            <td class="name"><h3>{{.JobName}}</h3></td>
            <td>
              <ul class="builds-list">
                {{range .Builds}}
                <li class="{{.Status}}"><a href="{{url "GetBuild" $job .}}">#{{.Name}}</a></li>
                {{end}}
              </ul>
            </td>
          </tr>
          {{end}}
        </table>
      </td>
      <td>
        <table class="jobs">
          {{range .OutputsOf}}
          {{$job := .JobName}}
          <tr>
            <td class="name"><h3>{{.JobName}}</h3></td>
            <td>
              <ul class="builds-list">
                {{range .Builds}}
                <li class="{{.Status}}"><a href="{{url "GetBuild" $job .}}">#{{.Name}}</a></li>
                {{end}}
              </ul>
            </td>
          </tr>
          {{end}}
        </table>
      </td>
    </tr>
    {{end}}
  </tbody>
</table>

<script src="{{url "Public" "jquery-2.1.1.min.js"}}"></script>
<script src="{{url "Public" "resources.js"}}"></script>
{{end}}
