.literate {
  list-style-type: none;
}

.literate .literateItem {
  margin-left: 0;
}

.literate .para {
  margin: 0;
}

.literate .code .pygmentized {
  margin: 0;
}

@media (min-width: 1525px) {
  .pipeline {
    width: 1250px;
  }

  .literate {
    display: table;
    border-spacing: 0 1em;
  }

  .literate .literateItem {
    display: table-row;
  }

  .literate .para {
    display: table-cell;
    padding-right: 25px;
    min-width: 700px;
  }

  .literate .code {
    display: table-cell;
    background: #f8f8f8;
    min-width: 525px;
  }
}
