svg {
  background: #5C6D7F;
}

.edge {
  stroke: #B4B4B4;
}

.node rect {
  fill: #2B3E50;
}

.node.job.no-builds rect {
  fill: #B4B4B4;
}

.job.node.started .animation {
  -webkit-animation: started-ripples-ng 1s linear infinite;
  animation: started-ripples-ng 1s linear infinite;
}

@-webkit-keyframes started-ripples-ng {
  0% {
    box-shadow: 0 0 0 -2px #5C6D7F, 0 0 0 0px #F1C40F, 0 0 0 2px #5C6D7F, 0 0 0 4px #F1C40F;
  }
  50% {
    box-shadow: 0 0 0 0px #5C6D7F, 0 0 0 2px #F1C40F, 0 0 0 4px #5C6D7F, 0 0 0 6px rgba(241, 196, 15, 0.5);
  }
  100% {
    box-shadow: 0 0 0 2px #5C6D7F, 0 0 0 4px #F1C40F, 0 0 0 6px #5C6D7F, 0 0 0 8px transparent;
  }
}

@keyframes started-ripples-ng {
  0% {
    box-shadow: 0 0 0 -2px #5C6D7F, 0 0 0 0px #F1C40F, 0 0 0 2px #5C6D7F, 0 0 0 4px #F1C40F;
  }
  50% {
    box-shadow: 0 0 0 0px #5C6D7F, 0 0 0 2px #F1C40F, 0 0 0 4px #5C6D7F, 0 0 0 6px rgba(241, 196, 15, 0.5);
  }
  100% {
    box-shadow: 0 0 0 2px #5C6D7F, 0 0 0 4px #F1C40F, 0 0 0 6px #5C6D7F, 0 0 0 8px transparent;
  }
}
