{{ template "header.html" . }}

{{ $usernamePrompt := .UsernamePrompt | lower }}
{{ if eq .ReqPath "/sky/issuer/auth/local" }}
  {{ $usernamePrompt = "username" }}
{{ end }}

<div class="theme-panel">
  <h2 class="theme-heading">log in to your account</h2>
  <form method="post" action="{{ .PostURL }}">
    <div class="theme-form-row">
      <div class="theme-form-label">
        <label for="userid">{{ $usernamePrompt }}</label>
      </div>
	  <input tabindex="1" required id="login" name="login" type="text" class="theme-form-input" placeholder="{{ $usernamePrompt }}" {{ if .Username }} value="{{ .Username }}" {{ else }} autofocus {{ end }}/>
    </div>
    <div class="theme-form-row">
      <div class="theme-form-label">
        <label for="password">password</label>
      </div>
	  <input tabindex="2" required id="password" name="password" type="password" class="theme-form-input" placeholder="password" autocomplete="off" {{ if .Invalid }} autofocus {{ end }}/>
    </div>

    {{ if .Invalid }}
      <div id="login-error" class="dex-error-box">
        invalid {{ $usernamePrompt }} and password.
      </div>
    {{ end }}

    <button tabindex="3" id="submit-login" type="submit" class="dex-btn theme-btn-login theme-btn--primary">submit</button>

  </form>
  {{ if .BackLink }}
  <button tabindex="4" type="button" onclick="location.href='/sky/login'" class="dex-btn theme-btn-cancel theme-btn--danger">cancel</a>
  {{ end }}
</div>

{{ template "footer.html" . }}
