{{ template "header.html" . }}

{{ if .BackLink }}
  <div class="theme-link-back">
    <a href="/sky/login">&#60; back</a>
  </div>
{{ end }}

<div class="theme-panel">
  <form method="post" action="{{ .PostURL }}">
    <div class="theme-form-row">
      <div class="theme-form-label">
        <label for="userid">username</label>
      </div>
	  <input tabindex="1" required id="login" name="login" type="text" class="theme-form-input" {{ if .Username }} value="{{ .Username }}" {{ else }} autofocus {{ end }}/>
    </div>
    <div class="theme-form-row">
      <div class="theme-form-label">
        <label for="password">password</label>
      </div>
	  <input tabindex="2" required id="password" name="password" type="password" class="theme-form-input" autocomplete="off" {{ if .Invalid }} autofocus {{ end }}/>
    </div>

    {{ if .Invalid }}
      <div id="login-error" class="dex-error-box">
        invalid username and password
      </div>
    {{ end }}

    <button tabindex="3" id="submit-login" type="submit" class="dex-btn theme-btn--primary">login</button>

  </form>
</div>

{{ template "footer.html" . }}
